           <ul class="collection with-header" >
   
     <li class="collection-header blue-grey lighten-2 white-text">
        <div class="row">
          <div class="col m6 s12">
            <h5>{{asignacion.tratamiento.tratNombre}}</h5>
          </div>
          <div class="col m6">
            <a href="#!/pagos/{{asignacion.asitId}}/{{paciente.pacId}}" class="waves-effect waves-light btn green"><i class="material-icons">attach_money</i></a>
          </div> 
          
            <div class="col m3">
               Precio de tratamiento asignado: ${{asignacion.asitPrecio}}
            </div>
        <!--  <a href ="#!/addSesion/{{it.asitId}}/{{paciente.pacId}}/" class="waves-effect waves-light btn orange right">Nueva Sesión</a>-->
          </div>
      </li>           
                <ul class="collapsible" data-collapsible="expandable">
                    <li>                                                                              <!--Sesiones a cada tratamiento-->
                      <div class="collapsible-header green lighten-4">Plan a seguir</div>
                      <div class="collapsible-body">
                          <p>{{asignacion.asitPlan}}</p>
                    </li>
                                       <li ng-repeat="il in asignacion.sesionList">
                      <div class="collapsible-header blue-grey lighten-4">Cita realizada: | Dia:{{il.cita.citaDia}} Hora: {{il.cita.citaHora}}</div>
                      <div class="collapsible-body"><div class="col s6"><strong><br>&nbsp&nbsp&nbspAtendió: </strong> {{il.empleado.persona.perPrimerNombre}} {{il.empleado.persona.perPrimerApellido}} </div>
                          <!--Signos vitales registrados -->
                          <div class="row col s3">
                              <div ng-repeat="ic in il.signoVitalList"><strong><br>{{ic.dsivId.dsivNombre}}: </strong>{{ic.siviValor}} {{ic.dsivId.dsivUnidad}}</div>
                          </div><p></p>
                          <br><strong>Procedimiento:</strong>  <p>{{il.sesiProcedimientos}}</p>
                     <strong>Observaciones:</strong><p>{{il.sesiObservaciones}}</p>
                     <strong>Recomendaciones:</strong><p>{{il.sesiRecomendaciones}}</p>
                     <h5 class="center">Fotos</h5>
                      <div class="divider"></div>
                      <br>
                      <div class="row center">
                          <!-- imagenes a mostrar -->
                           <div class="col m12 s12">
          <div class="card">
       <div class="container"> 
            <section id="least">
            
            <!-- Least Gallery: Fullscreen Preview -->
            
            
            <!-- Least Gallery: Thumbnails -->
           
            <ul class="least-gallery">
                <!-- 1 || Element with data-caption ||-->
                <li ng-repeat="im in il.imagenPacienteList">
                    
                 
                    <a href="{{'imagenes/perfiles'+im.imagen.imgNombre}}" title="Skateboard" data-subtitle="View Picture" data-caption="<strong>Descripción:</strong><h6>{{im.impDescripcion}}</h6>">
                        <img id="image" src="{{'imagenes/perfiles'+im.imagen.imgNombre}}" alt="Alt Image Text" />
    </a>
                    <script>
                 $(document).ready(function(){
      $('.least-gallery').least();
     });
     </script>
                </li>
                
                <!-- 2 || Element with data-caption as href-attribute 
                <li>
                    
                         
                    <a href="https://www.primazlavy.sk/obrazky/3139/3.jpg" title="Cita 1" data-subtitle="Ver foto" data-caption="Now it's possibe to add an URL-Link into caption text - <a href='http://www.google.com' target='_blank'>GOOGLE</a>">
                    
                        <img src="https://www.primazlavy.sk/obrazky/3139/3.jpg" alt="Alt Image Text" />
                    
                    </a>
                    
                </li>||-->
            </ul>
        </section>
       </div>
          </div>
        </div>
                          <!-- fin de muestra -->
                          <br>
                           
                      </div>
                      <div class="center">
                          
                      </div>
                     <h5 class="center">Examenes</h5>
                      <div class="divider"></div>
                      <br>
                                            <div class="row center">
                          <!-- imagenes a mostrar -->
                           <div class="col m12 s12">
          <div class="card">
       <div class="container"> 
            <section id="least">
            
            <!-- Least Gallery: Fullscreen Preview -->
            
            
            <!-- Least Gallery: Thumbnails -->
           
            <ul class="least-gallery">
                <!-- 1 || Element with data-caption ||-->
                <li ng-repeat="im in il.imagenPacienteList">
                    
                 
                    <a href="{{'imagenes/examenes'+im.exaRuta}}" title="Skateboard" data-subtitle="View Picture" data-caption="<strong>Descripción:</strong><h6>{{im.exaObservacion}}</h6>">
                        <img id="image" src="{{'imagenes/perfiles'+im.exaNombre}}" alt="Alt Image Text" />
    </a>
                    <script>
                 $(document).ready(function(){
      $('.least-gallery').least();
     });
     </script>
                </li>
                
                <!-- 2 || Element with data-caption as href-attribute 
                <li>
                    
                         
                    <a href="https://www.primazlavy.sk/obrazky/3139/3.jpg" title="Cita 1" data-subtitle="Ver foto" data-caption="Now it's possibe to add an URL-Link into caption text - <a href='http://www.google.com' target='_blank'>GOOGLE</a>">
                    
                        <img src="https://www.primazlavy.sk/obrazky/3139/3.jpg" alt="Alt Image Text" />
                    
                    </a>
                    
                </li>||-->
            </ul>
        </section>
       </div>
          </div>
        </div>
                          <!-- fin de muestra -->
                          <br>
                           
                      </div>
                      <div class="center">
                          
                      </div>
                    </li>
                   
                  </ul>
      
     <script>
         $(document).ready(function(){
    $('.collapsible').collapsible();
  });
     </script>
</ul>