
<div class="container">
  <br>
  <br>
  <div class="row center" >
    <div ng-if='loaderVar != false'  ng-include="'partials/componentes/loader2.html'"></div>
    <h3 class="header" ng-if='loaderVar != false' >Verificando tratamientos</h3>
    <h3 class="header" ng-if='vacio==true'>No hay tratamientos tratamientos asignados al paciente</h3>  
     
  </div>
  <!--<div class="row center" ng-if='it.sesionList==0'>
    <h3 class="header">No hay</h3>  
  </div>-->
  <br>
  
</div>

<div class="col m12">
  <br>
<ul class="collection with-header" ng-repeat="it in listaAsignaciones">
<!--Encabezado de cada tratamiento-->
     <li class="collection-header blue-grey lighten-2 white-text">
        <div class="row">
            <!--     Nombre de el tratamiento       -->
          <div class="col m6 s12">
            <h5>{{it.tratamiento.tratNombre}}</h5>
          </div>
            <!--    Precio de el tratamiento asignado      -->
            <div class="col m3 s12">
              <div class="row">
                  <h6>Precio: ${{it.asitPrecio}}</h6>  
                  <h6>Numero de sesiones:{{it.sesionList.length}}/{{it.asitEstimacion}}</h6>              
              </div>               
            </div>
            <div class="col m3 s12">
                <div class="row center">
                  <a class="btn-floating btn-large waves-effect waves-light green darken-1 tooltipped" data-position="right"  data-delay="50" data-tooltip="Agregar Pago" href="#!/pagos/{{it.asitId}}/{{paciente.pacId}}" ><i class="material-icons">attach_money</i></a>
                </div>
            </div>
          </div></li>    
      <!--<a class="waves-light btn pink accent-3" >Finalizar</a></li> -->           
                <ul class="collapsible" data-collapsible="expandable">
                    <li>                                                                              <!--Sesiones a cada tratamiento-->
                      <div class="collapsible-header #e0e0e0 grey lighten-2">
                          <div class="row">
                            <div class="col m6">
                              <h5>Ver plan a seguir</h5>
                            </div>                            
                          </div>
                      </div>
                      <div class="collapsible-body">
                          <p> {{it.asitPlan}}</p>
                          <br>
                          </div>
                    </li>
                    <li ng-repeat="il in it.sesionList" ng-if="il.cita.estId!=2">
                        
                       <span class='new badge {{il.cita.estado.estColor}}'>{{il.cita.estado.estNombre}}</span> <div class="collapsible-header"> Cita {{il.cita.estado.estNombre}}: | Dia:{{il.cita.citaDia}} Hora: {{il.cita.citaHora}}</div>
                      <div class="collapsible-body"><div class="col s6"><strong><br>&nbsp&nbsp&nbspAtendió: </strong> {{il.empleado.persona.perPrimerNombre}} {{il.empleado.persona.perPrimerApellido}} </div>
                          <!--Signos vitales registrados -->
                          <div ng-if='il.cita.estado.estId==1 || il.cita.estado.estId==3 '>
                          <a class='btn' href='#!/editSesion/{{it.asitId}}/{{paciente.pacId}}/{{il.sesiId}}'>Realizar sesión</a>
                          <a class='btn red' ng-click="cancelar(il)">Cancelar Cita</a>  
                          </div>
                          <div ng-if='il.cita.estado.estId==5'>
                         <a class='btn' href='#!/editSesion/{{it.asitId}}/{{paciente.pacId}}/{{il.sesiId}}'>Editar sesión</a>                        
                         <a class='btn red' ng-click="cancelar(il)">Cancelar Cita</a>
                          </div>
                          
                            <div class="row col s6">
                              <div ng-repeat="ic in il.signoVitalList"><strong><br>{{ic.tipoSignoVital.dsivNombre}}: </strong>{{ic.siviValor}} {{ic.tipoSignoVital.dsivUnidad}}</div>
                          </div>
                          <strong>&nbsp&nbspProcedimiento:</strong><p>{{il.sesiProcedimientos}}</p>
                     <strong>&nbsp&nbspObservaciones:</strong><p>{{il.sesiObservaciones}}</p>
                     <strong>&nbsp&nbspRecomendaciones:</strong><p>{{il.sesiRecomendaciones}}</p>
                     
                     <div class="switch" ng-if="il.imagenPacienteList.length!=0 || il.examenPacienteList.length!=0">
                       Descripción
                    <label>
                    off
                    <input type="checkbox" ng-value="activarDescripcion" ng-click="cambiarDescripcion()">
                     <span class="lever"></span>
                    on
                    </label>
                    </div>
                     <h5 class="center">Fotos</h5>
                      <div class="divider"></div>
                      <br>
<!-- imagenes a mostrar -->
  <div class="row center">
                   
      <div class="col m12 s12">
        <div class="card">
          <div class=""> 
                  <!-- 1 || Element with data-caption ||-->

             <div ng-if="il.imagenPacienteList.length!=0" class="slider">
                
                    <ul class="slides" >
                        <li  ng-repeat="im in il.imagenPacienteList">
                        <img src="{{'imagenes/perfiles'+im.imagen.imgNombre}}"> <!-- random image -->
                            <div class="caption center-align">
                                <h3 ng-if="activarDescripcion">{{im.impDescripcion}}</h3>
                                <a ng-if="activarDescripcion" href="{{'imagenes/perfiles'+im.imagen.imgNombre}}"  download>Descargar</a>
                            </div>
                        </li>
                    </ul>
                </div>
                  <div ng-if="il.imagenPacienteList.length==0" class="card-panel red lighten-2 white-text">
                      Actualmente no se han incluido fotografias en esta sesion
                  </div>                
       </div>
      </div>
    </div>
      <br>
</div>
                      <h5 class="center">Examenes</h5>
                      <div class="divider"></div>
                      <br>
    <!-- examenes a mostrar -->
  <div class="row center">
      <div class="col m12 s12">
        <div class="card">
          <div class=""> 
                  <!-- 1 || Element with data-caption ||-->
             <div ng-if="il.examenPacienteList.length!=0" class="slider">
                 
    <ul class="slides" >
      <li  ng-repeat="im in il.examenPacienteList">
        <img src="{{'imagenes/examenes'+im.exaRuta}}"> <!-- random image -->
        <div class="caption center-align">
            <h3 ng-if="activarDescripcion">{{im.exaObservacion}}</h3>
            <a ng-if="activarDescripcion" href="{{'imagenes/examenes'+im.exaRuta}}"  download>Descargar</a>
        </div>
      </li>
    </ul>
  </div>
                  <div ng-if="il.examenPacienteList.length==0" class="card-panel red lighten-2 white-text">
                      Actualmente no se han incluido examenes en esta sesion
                  </div>
       </div>
      </div>
    </div>
      <br>
</div>
   <div class="center"> 
                      </div>
                       </div>

                    </li>
                    <li>
                      <div class="row">
                        <br>
                        <div class="col m6 push-m3">
                          <a class="waves-effect waves-light btn red" ng-click="finalizar(it.asitId)"><i class="material-icons left">cancel</i>Finalizar Tratamiento</a>
                          <br>
                          <br>
                        </div>  

                        <div class="col m6 push-m1">
                          <a class="waves-effect waves-light btn green " ng-click="iniciarSesion(it.asitId)"><i class="material-icons left">add</i>Nueva Sesión</a>
                          <br>
                          <br>
                        </div>
                        <br>
                      </div>
                    </li>
                  </ul>
     <script>
//  Script para lista         
         $(document).ready(function(){
    $('.collapsible').collapsible();
  });
   
     </script>
</ul>

</div>
<!-- Script para activacion de muestra de imagenes -->
 <script>
//   Efecto de botón  
  $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 2000});
  });
</script>
