<div class="container">
  <br>
  <br>
  <div class="row center" >
    <div ng-if='loaderVar != false'  ng-include="'partials/componentes/loader2.html'"></div>
    <h3 class="header" ng-if='loaderVar != false' >Verificando tratamientos</h3>
    <h3 class="header" ng-if='vacio==true'>No hay tratamientos tratamientos asignados al paciente</h3>  
  </div>
  <!--<div class="row center" ng-if='it.sesionList==0'>
    <h3 class="header">No hay</h3>  
  </div>-->
  <br>
</div>

<div class="col m12">
  <br>
<ul class="collection with-header" ng-repeat="it in listaAsignaciones">
<!--Encabezado de cada tratamiento-->
     <li class="collection-header blue-grey lighten-2 white-text">
        <div class="row">
          <div class="col m6 s12">
            <h5>{{it.tratamiento.tratNombre}}</h5>
          </div>
          
            <div class="col m3 s12">
              <div class="row">
                  <h6>Precio: ${{it.asitPrecio}}</h6>  
                  <h6>Numero de sesiones:{{it.sesionList.length}}/{{it.asitEstimacion}}</h6>              
              </div>               
            </div>
            <div class="col m3 s12">
                <div class="row center">
                  <a class="btn-floating btn-large waves-effect waves-light green darken-1 tooltipped" data-position="right"  data-delay="50" data-tooltip="Agregar Pago" href="#!/pagos/{{it.asitId}}/{{paciente.pacId}}" ><i class="material-icons">attach_money</i></a>
                </div>
            </div>
          </div>
      </li>    
      <!--<a class="waves-light btn pink accent-3" >Finalizar</a></li> -->           
                <ul class="collapsible" data-collapsible="expandable">
                    <li ng-repeat="il in it.sesionList">
                       <span class='new badge {{il.cita.estado.estColor}}'>{{il.cita.estado.estNombre}}</span> 
                       <div class="collapsible-header"> Cita {{il.cita.estado.estNombre}}: | Dia:{{il.cita.citaDia}} Hora: {{il.cita.citaHora}}</div>
                    </li>
                </ul>
</ul>

</div>

<script>
  $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 2000});
  });
</script>