 <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
        <div class="container ">
             <h4 class="center-align white-text bold">Asignar Cita</h4>
             <h6 class="center-align white-text "> <span id="mayus">{{paciente.persona.perPrimerNombre}} {{paciente.persona.perSegundoNombre}} {{paciente.persona.perPrimerApellido}} {{paciente.persona.perSegundoApellido}}</span></h6>
             <div class="row center">
             </div>
        </div>
     </div>
     <div class='row'>
         <form class="col s12" ng-submit="guardarCita()">
     <div class="modal-content">
         <div class="input-field col m4 s12">
             <select class="browser-default" ng-model="sesion.asitId">
                 <option ng-repeat="it in listaAsignaciones" value="{{it.asitId}}">{{it.tratamiento.tratNombre}}</option>
             </select>
             <label class="active">Tratamientos del paciente</label>
         </div>
          <div class="col m4 s12">
                 <label for="burnDate">Fecha para cita<span id="obligatorio">*</span></label>
                 <input type="text" class="datepicker" data-date-format="yyyy-mm-dd" pattern="\d{4}-\d{2}-\d{2}" ng-model="cita.citaFecha" id="fechaNacimiento">
        </div>
     </div>
          <div class="modal-footer">
            <button class="btn waves-effect waves-light green" type="submit" ><i class="material-icons left">done</i>Aceptar</button> 
            <a class="modal-action modal-close waves-effect waves-light btn #ff5252 red accent-3"><i class="material-icons left">clear</i>Cancelar</a>
          </div>
             <div ng-include="'partials/componentes/load.html'"></div>  
         </form>
    </div>
<script>
    $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 100,
        firstDay: false,
        format: 'yyyy-mm-dd',
        min: new Date()
    });
    
   
</script>
     