                            <!---  PLANTILLA PARA HEREDAR  -->
                            <h4>Contacto de emergencia</h4>
     <div class="card-panel">     
                            <p>En caso de emergencia llamar a:</p>
    
    <div class="row">
        
        <!-- Nombre de Contacto --> 
        <div class="input-field col m5 s12">
            <input id="nameEmergencia" type="text" class="validate" required="true" ng-model="contacto.contNombre" title="Rangos validos: espacios,a-z A-Z del alfabeto latino, o  si no modifique en opciones del sistema"  pattern="[A-Za-zñÑ&á-ú\s]+" length='50'>
                <label for="name">Nombres<span id="obligatorio">*<span></label>
        </div>
        <!-- Apellido de Contacto -->
        <div class="input-field col m5 s12">
            <input id="apellidoEmergencia" type="text" class="validate" required="true" ng-model="contacto.contApellido"  title="Rangos validos: espacios,a-z A-Z del alfabeto latino, o  si no modifique en opciones del sistema" pattern="[A-Za-zñÑ&á-ú\s]+" length='50'>
            <label for="apellidoEmergencia">Apellidos<span id="obligatorio">*<span></label>
        </div>
        <!-- Telefono de Emergencia -->
        <div class="input-field col m2 s12">
            <input id="telEmergencia" type="tel" class="validate" required="true" ng-model="contacto.contTelefono" length="8" pattern="^[0-9]*$">
            <label for="telEmergencia">Teléfono<span id="obligatorio">*<span></label>
        </div>    
        </div>
    </div>
        <script>
         $(document).ready(function() {
    $('input#telEmergencia,input#nameEmergencia,input#apellidoEmergencia').characterCounter();
  });
        </script>
  