<!---  PLANTILLA PARA HEREDAR  -->
<h4>Dirección</h4>
    
    <div class="card-panel">
    <div class="row">
                        
                        
        <div class="input-field col s12 m6" ng-if="persona.paiCodigo == 503" >
            <select  id="iddepartamento" class="browser-default"   name="departamento"  ng-model="departamento.depCodigo"  ng-change="findAllMunicipio()" title="Departamento*" required>                                
                <option ng-repeat="it in listaDepartamento" value="{{it.depCodigo}}">{{it.depNombre}} </option>
                <option  ng-repeat="it in listaDepartamento" ng-if="it.depCodigo==departamentoAux" class='ng-binding' value='{{departamentoAux}}'  disabled selected >{{departamentoNombre}}</option>

            </select>   
            <label class="active">Departamento<span id="obligatorio">*<span></label>
        </div>    
                        <!-- Municipio de persona -->
       <div class="input-field col s12 m6"  ng-if="persona.paiCodigo == 503">
            <select class="browser-default" required="true" ng-model="persona.munCodigo" ng-init="selectM()" title="Municipio*">                                
                <option ng-repeat="it in listaMunicipio" value="{{it.munCodigo}}">{{it.munNombre}}</option>
                <option  ng-repeat="it in listaMunicipio" ng-if="it.munCodigo==municipioAux.munCodigo" class='ng-binding' value='{{municipioAux.munCodigo}}'  disabled selected >{{municipioAux.munNombre}}</option>

            </select>  
            <label class="active">Municipio<span id="obligatorio">*<span></label>
        </div>
                        <!-- Colonia de persona -->
        <div class="input-field col s12 m6">
            <input id="colonia" type="text" class="validate" required="true" ng-model="persona.perColonia" length='100'>
            <label for="colonia">Colonia<span id="obligatorio">*<span></label>
        </div>
                        <!-- Direccion especifica de persona -->
        <div class="input-field col m6 s12">
            <input id="direccion" type="text" class="validate" required="true" ng-model="persona.perDireccion" length='100'>
            <label for="direccion">Dirección<span id="obligatorio">*<span></label>
        </div>
                        
                        <!-- Departamento de persona {{persona.paiCodigo}}-->
                   
    </div>
     </div>
                    <script>
                         $(document).ready(function() {
            $('select').material_select();
                });
                        
                         $(document).ready(function() {
                             $('input#direccion,input#colonia').characterCounter();
                            });
                    </script>