<div class="row" ng-controller="empleadoController" data-ng-init="init()">
     <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                <h2 class="center-align white-text bold" ng-if="editar">Editar Empleado</h2>
                <h2 class="center-align white-text bold" ng-if="editar===false">Guardar Empleado</h2>
                <br>
                <div class='row center'></div>
            </div>
        </div>
    <div class="container">
    <br>
    <form class="col s12" ng-submit="guardarEmpleado()">
        <!-- Hereda el formulario para la informacion personal-->
         <div ><div ng-include="'partials/modulos/formularios/persona.html'"></div></div>
         <div class="divider"></div>
         <!-- Hereda el formulario para la informacion de direccion-->
        <div ><div ng-include="'partials/modulos/formularios/direccion.html'"></div></div>
        <!-- Hereda el formulario para la informacion de contacto-->
        <div ><div ng-include="'partials/modulos/formularios/contacto.html'"></div></div>                        
                         <br>
                         <!-- Imagen para perfil de Empleado --> 
                        <h4>Foto de Perfil</h4>
                        <div class="divider"></div><br>
                        <div class="row">
                            <div class="col m6 s12">
                                <img class="circle responsive-img materialboxed" id="image" src="{{'imagenes/perfiles'}}{{empleado.imagen.imgId.imgNombre}}" width="60%" onerror="this.src='images/guest.png'" materialboxed >
                            </div>     
                            <div class="file-field input-field col m6 s12">
                            <div class="btn">
                                <span>Imagen</span>
                                <input type="file"  onchange="angular.element(this).scope().previewFile(this)" ng-model="imagen"/>                    
                            </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                            </div>
                        </div>
                        <br>
                <div class="row right">
                    <a class="waves-effect waves-light btn #ff5252 red accent-3"  href="#!/empleados"><i class="material-icons left">clear</i>Cancelar</a>
                    <button class="btn waves-effect waves-light green" type="submit"><i class="material-icons left">done</i>Aceptar</button>
                    <!-- Plantilla para heredar Preload -->
                    <div ng-include="'partials/componentes/load.html'">
                </div>
                </div>
            </form>
    </div>
    </div>
<script type="text/javascript">

    $(document).ready(function() {
    $('select').material_select();
  }); 

    $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 100,
        firstDay: true,
        format: 'yyyy-mm-dd',
         max: new Date()
    });

    
$(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>