<!--header-->
<div class="row" ng-controller="estadoCivilController">
    <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                <h2 class="center-align white-text bold" ng-if="editar">Editar estado civil</h2>
                <h2 class="center-align white-text bold" ng-if="editar===false" >Agregar estado civil</h2>
                <div class='row center'></div>
            </div>
        </div>

<!--Card panel para agregar estado civil-->        
<div class="container">
    <div class="col s12 m12">
        <h5 class="header">Estado Civil</h5>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <form class="col s12" ng-submit="guardarEstadoCivil()">
               <div class="modal-content">
                   <div class="row">
                       <div class="input-field col s12 m4">
                            <input  id="tipo" type="text" class="validate"  required="true" ng-model="estadoCivil.estNombre"   length='50'>
                            <label id="lname" class="ltipo" for="name">Nombre del estado civil: <span id="obligatorio">*</span></label>
                        </div>
                       
                   </div>
                
                <br>
                <br>
                <br>
                <br>
                   <div class="row right">
                       <a class="waves-effect waves-light btn #ff5252 red accent-3" href="#!/atributos"><i class="material-icons left">clear</i>Cancelar</a>
                       <button class="btn waves-effect waves-light green" type="submit"><i class="material-icons left">done</i>Aceptar</button>
                       <div ng-include="'partials/componentes/load.html'"></div>
                   </div>
               </div>
              
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
          </form>
              
            </div>
          </div>
        </div>
              
              <p>Campos indicados con <span id="obligatorio">*</span> son obligatorios.</p>
      </div>
</div> 

</div>

<script>
    $(document).ready(function() {
    $('input#tipo').characterCounter();
  });
</script>
