<div class="row" ng-controller="estadoController">
<div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                <h2 class="center-align white-text bold" ng-if="editar">Editar Estado</h2>
                <h2 class="center-align white-text bold" ng-if="editar===false">Guardar Estado</h2>
                <br>
                <div class='row center'></div>
            </div>
        </div>

<div class="container">
    <br>
<form class="col s12" ng-submit="guardarEstado()">
                <div class="modal-content">
                                 <h4>Datos de estado</h4>   
                    <div class="row">
                        <div class="input-field col s6 m6">
                            <input id="tipo" type="text" class="validate" required="true"  ng-model="estado.estNombre" pattern="[A-Za-z0-9ñÑ&á-ú\s]+" length="20">
                            <label id="tipol" for="name" class="active">Nombre de Estado<span id="obligatorio">*<span></label>
                        </div>
                        <div class="input-field col s6 m6">
                            <input id="descripcion" type="text" class="validate" required="true"  ng-model="estado.estDescripcion" pattern="[A-Za-z0-9ñÑ&á-ú\s]+" length="100">
                            <label id="descripcionl" for="descripcion" class="active">Descripción de Estado<span id="obligatorio">*<span></label>
                        </div>
                        <div class="input-field col s12 m6">
                            <select class="icons" ng-model="estado.estColor">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="blue lighten-1" data-icon="imagenes/colores/blue lighten-1.PNG" class="left circle">blue</option>
                            <option value="deep-purple" data-icon="imagenes/colores/deep-purple.PNG" class="left circle">deep-purple</option>
                            <option value="purple lighten-4" data-icon="imagenes/colores/purple lighten-4.PNG" class="left circle">purple</option>
                            <option value="grey" data-icon="imagenes/colores/grey.PNG" class="left circle">grey</option>
                            <option value="yellow darken-2" data-icon="imagenes/colores/yellow darken-2.PNG" class="left circle">yellow 2</option>
                            <option value="light-green darken-1" data-icon="imagenes/colores/light-green darken-1.PNG" class="left circle">green 1</option>
                            <option value="lime accent-4" data-icon="imagenes/colores/lime accent-4.PNG" class="left circle">lime 1</option>
                            <option value="red darken-1" data-icon="imagenes/colores/red darken-1.PNG" class="left circle">red 1</option>
                        </select>
                            <label>Color selecionado</label>
    <br>
    <br>
    <h6>Previsualización:</h6>
    <span class="{{estado.estColor}} center white-text" >&nbsp&nbsp{{estado.estNombre}}&nbsp&nbsp</span>
  </div>
                      
                    </div>
                </div>
                <div class="row right">
                    <a class="waves-effect waves-light btn #ff5252 red accent-3" href="#!/atributos"><i class="material-icons left">clear</i>Cancelar</a>
                    <button class="btn waves-effect waves-light green" type="submit"><i class="material-icons left">done</i>Aceptar</button>
                    <br>
                    <br>
                     <div class="divider"></div>
                <p>Campos indicados con <span id="obligatorio">*</span> son obligatorios.</p>
                  <div ng-include="'partials/componentes/load.html'">
                </div>
            </form>
    </div>
</div>
</div>
<script>
    $(document).ready(function() {
    $('select').material_select();
  });
    $(document).ready(function() {
    $('input#tipo,input#descripcion').characterCounter();
  });
</script>