<div  class="row" >
    <div  class="panel" ng-controller="empleadoController">
        <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                <h2 class="center-align white-text bold">Expediente de el empleado {{empleado.persona.perPrimerNombre}} {{empleado.persona.perSegundoNombre}} {{empleado.persona.perPrimerApellido}} {{empleado.persona.perSegundoApellido}}</h2>
                <br>
                <div class="row center">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col m8 s10">
                    <a class="waves-effect black-text" id="addbuton" href="#!/empleados"><i class="material-icons">arrow_back</i></a>
                   </div>
                <div class="col m2 s10 rigth">
                    <a class="waves-effect waves-light btn #9e9e9e grey" id="printbuton" ng-click="generarReporteEmpleado()"><i class="material-icons">local_printshop</i></a>
                </div>
            </div>
        </div>
        <div class="container ">
            <div id="expediente" class="row ">
                <div class="col s6">
                    <h5 class="txt1"><strong>Nombres:</strong> {{empleado.persona.perPrimerNombre}} {{empleado.persona.perSegundoNombre}}</h5>
                    <h5 class="txt1"><strong>Apellidos:</strong> {{empleado.persona.perPrimerApellido}} {{empleado.persona.perSegundoApellido}}</h5>
                    <h5 class="txt1"><strong>Nacimiento:</strong> {{empleado.persona.perFechaNacimiento}}</h5>
                    <h5 class="txt1"><strong>Género:</strong> {{empleado.persona.sexo.sexNombre}}</h5>
                    <h5 class="txt1"><strong>Tel Celular:</strong> {{empleado.persona.perTelCelular}}</h5>
                    <h5 class="txt1"><strong>Dirección:</strong> {{empleado.persona.perDireccion}}</h5>
                    <h5 class="txt1"><strong>Nombre de Documento:</strong> {{empleado.persona.documento.docNombre}}</h5>
                    <h5 class="txt1"><strong>Numero de Documento:</strong> {{empleado.persona.documento.docCodigo}}</h5>
                    <h5 class="txt1"><strong>Numero de ISSS:</strong> {{empleado.empIsss}}</h5>
                    <h5 class="txt1"><strong>Estado Civil:</strong>{{empleado.persona.estadoCivil.estNombre}}</h5>
                    <br>
                    <h5 class="txt1"><strong>Tel Fijo:</strong>{{empleado.persona.perTelFijo}} </h5>
                    <h5 class="txt1"><strong>Correo electrónico:</strong> {{empleado.persona.perCorreoElectronico}}</h5>
                    <br>
                    <h5 class="txt1"><strong>Contacto Emergencia:</strong> {{empleado.persona.contacto.contNombre}}</h5>

                </div>
                <div class="col s6">
                    <h5 class="txt1">
                        <img class="materialboxed" width='50%' src="{{'imagenes/perfiles' + empleado.imagen.imgId.imgNombre}}">
                    </h5>
                    <h5 class="txt1"><strong>Tel Emergencia:</strong>{{empleado.persona.contacto.contTelefono}}</h5>
                </div>
            </div>
            <a class="waves-effect btn #03a9f4 light-blue lighten-2 white-text"  href="#!/editEmpleado/{{empleado.empId}}">Editar Información</a>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.materialboxed').materialbox();
    });
</script>

