<div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
        <div class="container ">
             <h4 class="center-align white-text bold">Nueva Sesión</h4>
             <h6 class="center-align white-text "> <span id="mayus">{{paciente.persona.perPrimerNombre}} {{paciente.persona.perSegundoNombre}} {{paciente.persona.perPrimerApellido}} {{paciente.persona.perSegundoApellido}}</span></h6>
             <div class="row center">
             </div>
        </div>
    </div>
 <div class="modal-content">

      

        <div class="row">
          <form class="col s12" ng-submit="iniciarSesion()">
            
            <div class="row">
                  <div class="input-field col m4 s12">
                      <br>
                       <select class="browser-default" ng-model="sesion.asitId">
                 <option ng-repeat="it in listaAsignaciones" value="{{it.asitId}}">{{it.tratamiento.tratNombre}}</option>
                        </select>
                    <label class="active">Tratamientos<span id="obligatorio">*</span>:</label>
                  </div>

               
              <br>    
          </div>
              <div class="modal-footer">
            <button class="btn waves-effect waves-light green" type="submit" ><i class="material-icons left">done</i>Aceptar</button> 
            <a class="modal-action modal-close waves-effect waves-light btn #ff5252 red accent-3"><i class="material-icons left">clear</i>Cancelar</a>
          </div>
          </form>
        </div>
          
      </div> 