    <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
        <div class="container ">
             <h4 class="center-align white-text bold">Nuevo Tratamiento</h4>
             <h6 class="center-align white-text "> <span id="mayus">{{paciente.persona.perPrimerNombre}} {{paciente.persona.perSegundoNombre}} {{paciente.persona.perPrimerApellido}} {{paciente.persona.perSegundoApellido}}</span></h6>
             <div class="row center">
             </div>
        </div>
    </div>
    <div class="modal-content">

      

        <div class="row">
          <form class="col s12" ng-submit="guardarAsignacion()">
            
            <div class="row">
                  <div class="input-field col m4 s12">
                      <br>
                      <select class="browser-default"  ng-model="asignacion.tratId" title="Tratamientos">
                      <option ng-repeat="x in listaTratamientos" value="{{x.tratId}}">{{x.tratNombre}}</option>
                    </select>
                    <label class="active">Tratamientos<span id="obligatorio">*</span>:</label>
                  </div>

                  <div class="input-field col m2 s12 offset-m2">
                      <input id="precio" type="text" class="validate" ng-model="asignacion.asitPrecio" pattern="\d{1,5}\.\d{1,2}">
                      <label for="precio">Precio ($)<span id="obligatorio">*</span>:</label>
                  </div>
                
                 <div class="input-field col m3 s12">
                      <input id="estimacion" type="text" class="validate" ng-model="asignacion.asitEstimacion" pattern="\d{1,5}">
                      <label for="estimacion">Estimacion de sesiones</label>
                  </div>
              <br>    
          </div>

            <div class="row">
              <div class="input-field col m12 s12">
                <textarea id="plan" class="materialize-textarea" length="500" ng-model="asignacion.asitPlan" required="true"></textarea>
                <label for="plan">Plan a seguir<span id="obligatorio">*</span>:</label>
              </div>
            </div>
              <div class="modal-footer">
            <button class="btn waves-effect waves-light green" type="submit" ><i class="material-icons left">done</i>Aceptar</button> 
            <a class="modal-action modal-close waves-effect waves-light btn #ff5252 red accent-3"><i class="material-icons left">clear</i>Cancelar</a>
          </div>
          </form>
        </div>
          
      </div> 