<div class="row" ng-controller="pacienteController">
    <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                <h2 class="center-align white-text bold" ng-if="editar">Editar Paciente</h2>
                <h2 class="center-align white-text bold" ng-if="editar!=true">Guardar Paciente</h2>
                <h6 class="blue-text text-darken-2 center-align white-text bold" ng-if="paciente.pacEstado==false">Expediente Inactivo</h6>
                 
                <div class='row center'></div>
            </div>
        </div>
    <div class="container">
        <form id="formValidate" class="col s12" ng-submit="guardarPaciente()">
                <div class="modal-content">

                    <!-- Hereda el formulario para la informacion de persona-->
                    <div ><div ng-include="'partials/modulos/formularios/persona.html'"></div>
                    <br>
                     <!-- Hereda el formulario para la informacion de Direccion-->
                    <div ><div ng-include="'partials/modulos/formularios/direccion.html'"></div></div>

                    <!-- Hereda el formulario para la informacion de Contacto-->
                    <div ><div ng-include="'partials/modulos/formularios/contacto.html'"></div></div>

                    <!-- Historial de paciente -->
                    <h4>Historial</h4>
                    <div class="card-panel">
                    <!-- Antecedentes Personales del Paciente -->
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="antecedentesPersonales" class="materialize-textarea" ng-model="paciente.pacAntecedentesPersonales" length='500'></textarea>
                            <label for="antecedentesPersonales">Antecedentes personales</label>
                        </div>
                    <!-- Antecedentes Medicos del Paciente -->
                        <div class="input-field col m12 s12">
                            <textarea id="antecedentesMedicos" class="materialize-textarea" ng-model="paciente.pacAntecedentesMedicos" length='500'></textarea>
                            <label for="antecedentesMedicos">Antecedentes médicos</label>
                        </div>
                    <!-- Tipo de sangre del paciente -->
                        <div class="input-field col m3 s12">
                            <br>
                            <select   ng-model="paciente.sanId" title="Tipo de Sangre" id="tipoSangre">
                                <option ng-repeat="it in listaTipoSangre" value="{{it.sanId}}">{{it.sanDescripcion}}</option>
                                <option ng-repeat="it in listaTipoSangre" ng-if='it.sanId==sangreAux.sanId' class='ng-binding' value='{{sangreAux.sanId}}' disabled selected >{{sangreAux.sanDescripcion}}</option>

                            </select>
                            <label class="active" for="tipoSangre">Tipo de sangre</label>
                        </div>
                    </div>
                    
                    </div>
                    <div class="card-panel">
                        
                    <div class="row">
                        
                        <!-- Referencia del paciente -->
                        <div class="input-field col m4  s12">
                            <br>
                            <select class="browser-default"  ng-model="paciente.pubId" title="Referido de">
                                <option ng-repeat="it in listaTipoPublicidad" value="{{it.pubId}}">{{it.pubNombre}}</option>
                                <option ng-repeat="it in listaTipoPublicidad" ng-if='it.pubId==publicidadAux.pubId' class='ng-binding' value='{{publicidadAux.pubId}}' disabled selected >{{publicidadAux.pubNombre}}</option>
                            </select>
                            <label class="active">Referencia</label>
                        </div>
                    <br>    
                        <a class="btn-floating btn-large waves-effect waves-light blue accent-3 tooltipped" data-position="right"  data-delay="90" data-tooltip="Agregar Publicidad" ng-click="agregarPublicidad()"><i class="material-icons">add</i></a>
                        <!-- <a  class="waves-effect waves-light btn blue accent-3" ng-click="agregarPublicidad()">Nueva Publicidad</a> -->
                    </div>
                    <br>
                    
                     <!-- Profesion del paciente -->     
                        <div class="input-field col s6 m4">
                            <select id='idProfecion'  ng-model='paciente.profId' required="true">
                                <option ng-repeat='it in listaProfesion' value='{{it.profId}}'>{{it.profNombre}}</option>
                                 <option  ng-repeat="it in listaProfesion" ng-if='profesion.profId==it.profId' class='ng-binding' value='{{profesion.profId}}' disabled selected >{{profesion.profNombre}}</option>
                            </select>
                            <label class='active'>Profesion</label>
                        </div>
                      <div class="col s4 m2">
                            <a class="btn-floating btn-large waves-effect waves-light blue accent-3 tooltipped" ng-click="agregarProfesion()" data-position="right"  data-delay="90" data-tooltip="Agregar Profesión"> <i class="material-icons">add</i></a>

                        </div>
                     
                     
                    <!-- Solo muestra el numero de Expediente asignado a la persona -->
                    <div class="row">
                        <div class="input-field col m4 s12">
                            <input disabled value="" id="disabled" type="text" class="validate">{{expediente.expCodigo}}
                            <label for="disabled">Expediente</label>
                        </div>
                    </div>
                    
                  </div>
                <div class="row right" >
                    <a class="waves-effect waves-light btn #ff5252 red accent-3" ng-click="cancelar()"><i class="material-icons left">clear</i>Cancelar</a>
                    <button class="btn waves-effect waves-light green" type="submit"><i class="material-icons left">done</i>Aceptar</button>            
                    <div ng-include="'partials/componentes/load.html'"></div>
                </div>
          <br>
          <br>
          <br>
          <br>
                <div class="divider"></div>
                    </div></div>
                <p>Campos indicados con <span id="obligatorio">*</span> son obligatorios.</p>
            </form>
        </div>

    <!-- Modal para agregar referencia -->            
    <div id="modalIngPublicidad" class="modal"  ng-controller="publicidadController" >
        <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                 <h4 class="center-align white-text bold">Nueva Referencia</h4>
                 <div class="row center">
                 </div>
            </div>
        </div>
        <div  class="leftColumn" ng-include="'partials/modulos/formularios/publicidadForm.html'"></div>
    </div>

    <!-- Modal para agregar Profesion -->
    <div id="modalIngProfesion" class="modal"  ng-controller="profesionController" >
         <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                 <h4 class="center-align white-text bold">Nueva Profesión</h4>
                 <div class="row center">
                 </div>
            </div>
        </div>
        <div  class="leftColumn" ng-include="'partials/modulos/formularios/profesionForm.html'"></div>
    </div>
</div>

<script type="text/javascript">
     $(document).ready(function() {
            $('select').material_select();
                });
    $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 100,
        firstDay: false,
        format: 'yyyy-mm-dd',
         max: new Date()
    });
    
  
  $(document).ready(function() {
    $('input#profesion,textarea#antecedentesPersonales,textarea#antecedentesMedicos').characterCounter();
  });

  $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 2000});
  });
    
</script>