<div class="row" ng-controller="pagoController">
    <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
    <div class="container ">
     <h2 class="center-align white-text bold">Pagos</h2>
     
     <br>
     
    </div>
  </div>

<div class="container">
    <div >
    
        <br>
                    <a class="waves-effect black-text"  id="addbuton" href="#!/expediente/{{paciente.pacId}}"><i class="material-icons">arrow_back</i></a>
                </div>
    <div class="col s12 m12">
                <h5 class="header black-text">Paciente</h5>
                <div class="card horizontal">

                    <div class="card-content">
                        <h5 class="txt1"><strong>Expediente:</strong> {{asignacion.expediente.expCodigo}}</h5>
                        <h5 class="txt1"><strong>Paciente:</strong> {{paciente.persona.perPrimerNombre}} {{paciente.persona.perSegundoNombre}} {{paciente.persona.perPrimerApellido}} {{paciente.persona.perSegundoApellido}}</h5>
                        <h5 class="txt1"><strong>Tratamiento:</strong> {{asignacion.tratamiento.tratNombre}}</h5>
                    </div>

                    <div class="card-content">
                        <h5 class="txt1"><strong>Atendió:</strong> &nbsp<span ng-bind=" user.name"></span></h5>
                        <h5 class="txt1"><strong>Fecha:</strong> {{CurrentDate | date:'medium'}}</h5>
                        <h5  class="txt1 red-text text-darken-2"><strong>Total a pagar:</strong> ${{asignacion.asitPrecio}}</h5>
                    </div>

                </div>
            </div>
    
    <!--Panel para agregar pago-->

    <div class="col s12 m12">
        <h5 class="header black-text">Realizar Pago</h5>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
                <!--      Monto del pago          -->
                    <div class="input-field col m6 s12">
                        <input id="precio" type="text" class="validate" ng-model="pago.pagMonto" required="true" pattern="\d{1,5}\.\d{1,2}">
                        <label for="precio">Cantidad: ($)<span id="obligatorio">*<span></label>                 
                    </div>
  <!--      Tipo de pago          -->
    <p>
      <input name="group1" type="radio" value="1" id="Efectivo" ng-model="pago.tpagId" checked="true"/>
      <label for="Efectivo">Efectivo</label>
    
      <input name="group1" type="radio" value="2" id="Tarjeta" ng-model="pago.tpagId" />
      <label for="Tarjeta">Tarjeta</label>
    </p>
                <!--  Descripcion para el pago  -->
                    <div class="input-field col m12 s12">
                         <textarea id="descripcion" class="materialize-textarea" ng-model="pago.pagDescripcion" required="true"  length='500'></textarea>
                        <label id="ldescripcion" class="ldescripcion" for="descripcion">En concepto de:<span id="obligatorio">*<span> </label>
                    </div>
            </div>
            <div class="card-action right">
                   <div class="col m3 s12 right">
                       <!--<a class="btn-floating btn-large waves-effect waves-light green" ng-click="openModalPago()" ><i class="material-icons">add</i></a>-->
                         <button class="btn waves-effect waves-light green tooltipped" data-position="top" data-tooltip="Agregar pago" ng-click="openModalPago()"><i class="material-icons left">done</i>Agregar</button>
                   </div>
                
            </div>
          </div>
        </div>
    </div>
<!--Tabla de pagos realizados-->
    <div class="col s12 m12">
      <h5 class="header black-text">Pagos realizados de {{paciente.persona.perPrimerNombre}} {{paciente.persona.perSegundoNombre}} {{paciente.persona.perPrimerApellido}} {{paciente.persona.perSegundoApellido}} en {{asignacion.tratamiento.tratNombre}}.</h5>
        <div class="card horizontal">
            <table class="highlight centered bordered ">
                 <thead>
                            <tr class="blue-grey lighten-5">
                                <th width="7%"><a type="button" class="waves-effect waves-light btn transparent black-text z-depth-0 " ng-click="orderBy('pagId')">Indice<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                                <th width="10%"><a type="button" class="waves-effect waves-light btn transparent black-text z-depth-0 " ng-click="orderBy('pagMonto')">Monto($)<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                                <th width="10%"><a type="button" class="waves-effect waves-light btn transparent black-text z-depth-0 " ng-click="orderBy('pagFecha')">Fecha de pago<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                                <th><a type="button" class="waves-effect waves-light btn transparent black-text z-depth-0 " ng-click="orderBy('pagDescripcion')">En concepto de<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                                <th width="10%"><a type="button" class="waves-effect waves-light btn transparent black-text z-depth-0 " ng-click="orderBy('tipoPago.tpagNombre')">Tipo<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                                <th>OPCIONES</th>
                                
                            </tr>
                        </thead>
                         <tbody>
                            <tr ng-repeat="it in asignacion.pagoTratamientoList | filter:searchString | searchFor:currentPage*numItems | limitTo:numItems|orderBy: order: reverse">
                                <td style="text-align: center;">{{it.pagId}}</td>
                                <td style="text-align: center;">{{it.pagMonto}}</td>
                                <td style="text-align: center;">{{it.pagFecha | date: dd/MM/yyyy}}</td>
                                <td style="text-align: center;">{{it.pagDescripcion}}</td>
                                <td style="text-align: center;">{{it.tipoPago.tpagNombre}}</td>
                                <td style="text-align: center;"><a href="#!/verPago/{{it.pagId}}/{{asignacion.asitId}}/{{paciente.pacId}}">ver</a>
                                                                <a href="#!/bitacoraPago/{{it.pagId}}">Bitacora</a></td>
                                
                            </tr>
                            <tr>
                                <td>Total pagado</td>
                                <td class="card-panel red-text">{{total}}</td>
                                
                            </tr>
                        </tbody>
            </table>
        </div>
    </div>

</div> <!--fin container-->

<!-- Modal para confirmar el pago-->
<div id="modalConfirmacionPago" class="modal">
         <div class="section no-pad-bot #263238 blue-grey darken-4" id="">
            <div class="container ">
                 <h4 class="center-align white-text bold">Confirmación de Pago</h4>
                 <div class="row center">
                 </div>
            </div>
        </div>
    <div class="container">
        <h5 class="txt1"><strong>Fecha:</strong> {{CurrentDate | date:'medium'}}</h5>
        <h5 class="txt1"><strong>Paciente:</strong> {{paciente.persona.perPrimerNombre}} {{paciente.persona.perSegundoNombre}} {{paciente.persona.perPrimerApellido}} {{paciente.persona.perSegundoApellido}}</h5>
        <h5 class="txt1"><strong>Tratamiento:</strong> {{asignacion.tratamiento.tratNombre}}</h5>
        
        <br>
        <h5 class="txt1" ng-model="pago.pagMonto"><strong>Pago: </strong> ${{pago.pagMonto}} </h5>
        <h5 class="txt1"><strong>En concepto de: </strong> {{pago.pagDescripcion}}</h5>
        <h5 class="txt1"><strong></strong></h5>
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    
      <div class="row right">
             <a class="modal-action modal-close waves-effect waves-light btn #ff5252 red accent-3"><i class="material-icons left">clear</i>Cancelar</a>
             <button id="acept" class="btn waves-effect waves-light green" ng-click="guardarPago()"><i class="material-icons left">done</i>Aceptar</button>
        </div>


    
    </div>
</div>
</div>
<script>    
$(document).ready(function(){
    $('.tooltipped').tooltip({delay: 1000});
  });
</script>