<div ng-controller="pagoController">
<div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
    <div class="container ">
        <h2 class="center-align white-text bold">Detalle de pago</h2><br>
        <div class='row center'></div>
    </div>
</div>

<div class="container">
    
    <div class="row">
        <div class="col m5 s12">
            <a class="waves-effect waves-light btn #2979ff red accent-3" id="addbuton" href="#!/pagos/{{asignacion.asitId}}/{{paciente.pacId}}"><i class="material-icons">arrow_back</i></a>
        </div>
        <div class="col m5 s12 right">
            <a class="waves-effect waves-light btn #9e9e9e grey" id="printbuton" ng-click="generarFacturaPago()"><i class="material-icons">local_printshop</i></a>
        </div>
    </div>


<h5 class="class header">Detalle del pago </h5>
<div class="card-panel">
    <br>
    <br>
   <div class="container">
       
      <table class="striped">
        <tbody>

          <tr>
            <th>Fecha de pago</th>
            <td>{{pago.pagFecha | date: 'mediumDate'}}</td>
          </tr>

          <tr>
              <th><strong>Expediente:</strong></th>
              <td>{{paciente.expediente.expCodigo}}</td>  
          </tr>
    
          <tr>
            <th>Paciente</th>
            <td>{{paciente.persona.perPrimerNombre}} {{paciente.persona.perSegundoNombre}} {{paciente.persona.perPrimerApellido}} {{paciente.persona.perSegundoApellido}}</td>
          
          </tr>
          <tr>
            <th>Tratamiento</th>
            <td>{{asignacion.tratamiento.tratNombre}}</td>
          </tr>

          <tr>
            <th>Forma de pago</th>
            <td>{{pago.tipoPago.tpagNombre}}</td>
          </tr>

          <!-- <tr ng-if="pago.tipoPago =2">
            <th>Número de autorización</th>
            <td>Sin especificar</td>
          </tr> -->

          <tr>
            <th>Cantidad</th>
            <td>${{pago.pagMonto}}</td>
          </tr>

           <tr>
            <th>Concepto</th>
            <td>{{pago.pagDescripcion}}</td>
          </tr>

        </tbody>
      </table>

   </div> 
   <br>
   <br>
</div>
            

</div>
</div>