<!--  PLANTILLA PARA HEREDAR  -->
<h4>Datos de la persona</h4>
<div class="card-panel">           
                   

                    <div class="row">
                        <!-- Primer nombre de la persona -->
                        <div class="input-field col s12 m6">
                            <input id="primerNombre" type="text" class="validate"  title="Rangos validos: espacios,a-z A-Z del alfabeto latino, o  si no modifique en opciones del sistema" required="true" ng-model="persona.perPrimerNombre"  pattern="[A-Za-zñÑ&á-ú\s]+" length='20'>
                            <label for="primerNombre">Primer Nombre<span id="obligatorio">*</span></label>
                        </div>

                        <!-- Segundo nombre de la persona -->
                        <div class="input-field col s12 m6">
                            <input id="segundoNombre" type="text" class="validate"  ng-model="persona.perSegundoNombre"  pattern="[A-Za-zñÑ&á-ú\s]+" title="Rangos validos: espacios,a-z A-Z del alfabeto latino" length='20'>
                            <label for="segundoNombre">Segundo Nombre</label>
                        </div>

                        <!-- Primer apellido de la persona -->
                        <div class="input-field col s12 m6">
                            <input id="primerApellido" type="text" class="validate" required="true" ng-model="persona.perPrimerApellido"  pattern="[A-Za-zñÑ&á-ú\s]+" title="Rangos validos: espacios,a-z A-Z del alfabeto latino" length='20'>
                            <label for="primerApellido">Primer Apellido<span id="obligatorio">*</span></label>
                        </div> 
                        <div class="input-field col s12 m6">
                            <input id="segundoApellido" type="text" class="validate"  ng-model="persona.perSegundoApellido"  pattern="[A-Za-zñÑ&á-ú\s]+" title="Rangos validos: espacios,a-z A-Z del alfabeto latino" length='20'>
                            <label for="segundoApellido">Segundo Apellido</label>
                        </div>

                        <!-- Apellido de casada de la persona -->
                        <div ng-if="(persona.estId==2 || persona.estId==3  )&& persona.sexId==2" class="input-field col s12 m6" >
                            <input id="apellidoCasada" type="text" class="validate"  ng-model="persona.perApellidoCasada"  pattern="[A-Za-zñÑ&á-ú\s]+" title="Rangos validos: espacios,a-z A-Z del alfabeto latino" length='20'>
                            <label for="apellidoCasada">Apellido de casada</label>
                        </div>
                    </div>
    
    
     <div class="row">
                        <!-- Fecha de nacimiento --> 
                        <div class="col m4 s12">
                            <label for="burnDate">Fecha de nacimiento<span id="obligatorio">*</span></label>
                            <input type="text" class="datepicker" data-date-format="yyyy-mm-dd" pattern="\d{4}-\d{2}-\d{2}" ng-model="persona.perFechaNacimiento" id="fechaNacimiento">
                        </div>

                        <!-- Género de la persona -->
                        <div class="input-field col m4 s12">
                            <select id="idSexo"  class="chosen-select " required  ng-model="persona.sexId" title="Género*" tabindex="1" >
                                
                                <option ng-repeat="it in listaSexo"   value="{{it.sexId}}">{{it.sexNombre}}
                               </option>
                                 <option class='ng-binding' value='{{persona.sexId}}' disabled selected >{{persona.sexo.sexNombre}}</option>
                                 
                            </select>
                            <label class="active">G&eacute;nero<span id="obligatorio">*</span></label>
                        </div>

                        <!-- Estado civil de la persona-->
                        <div class="input-field col m4 s12">
                            <select id="idest"  ng-model="persona.estId" required="true" title="Estado civil*">
                                
                                <option  ng-repeat="it in listaEstadosCivil" value="{{it.estId}}">{{it.estNombre}}</option>
                                <option class='ng-binding'  value='{{persona.estId}}' disabled selected >{{persona.estadoCivil.estNombre}}</option>
                            </select>
                            <label class="active">Estado Civil<span id="obligatorio">*</span></label>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Documento de la persona -->
                        <div class="input-field col m4 s12">
                            <select required="true" ng-model="documento.docNombre" title="Tipo de Documento"   ng-change="limpiarCodDoc()">
                                <option value="DUI" >DUI</option>
                                <option value="Licencia">Licencia de conducir</option>
                                <option value="NIT">NIT</option>
                                <option value="PASAPORTE">Pasaporte</option>
                            </select>
                            <label class="active">Tipo de documento<span id="obligatorio">*</span></label>
                        </div>

                        <!-- DUI si es el caso-->
                        <div ng-if="documento.docNombre === 'DUI'" class="input-field col m4 s12">
                            <input id="DUI" type="text" pattern="\d{8}-\d{1}" required="true" length="10" ng-model="documento.docCodigo" data-mask="99999999-9">
                            <label for="dui" class='active'>Número de DUI<span id="obligatorio">*</span></label >
                        </div>

                        <!-- Licencia de conducir  si es el caso-->
                        <div ng-if="documento.docNombre === 'Licencia'" class="input-field col m4 s12">
                            <input id="licencia" type="text" pattern="\d{4}-\d{6}-\d{3}-\d{1}" required="true" length="17" ng-model="documento.docCodigo" data-mask="9999-999999-999-9">
                            <label for="licencia" class='active'>Número de Licencia<span id="obligatorio">*</span></label >
                        </div>

                        <!-- NIT si es el caso-->
                        <div ng-if="documento.docNombre === 'NIT'" class="input-field col m4 s12">
                            <input id="nit" type="text" pattern="\d{4}-\d{6}-\d{3}-\d{1}" required="true" length="17" ng-model="documento.docCodigo" data-mask="9999-999999-999-9">
                            <label for="nit" class='active'>Número de NIT<span id="obligatorio">*</span></label >
                        </div>

                        <!-- pasaporte si es el caso-->
                        <div ng-if="documento.docNombre === 'PASAPORTE'" class="input-field col m4 s12">
                            <input id="pasaporte" type="text" pattern="[A|B|T]{1}[0-9]{7}" required="true" length="8" ng-model="documento.docCodigo">
                            <label for="pasaporte" class='active'>Número de Pasaporte<span id="obligatorio">*</span></label >
                        </div>
                    </div>

                    <div class="row">
                        <!-- Telefono celular -->
                        <div class="input-field col m4 s6">
                            <input id="cel" type="tel" class="validate" ng-model="persona.perTelCelular" length="8" pattern="^[0-9]*$" >
                            <label for="cel">Teléfono Celular<span id="obligatorio">*</span></label>
                        </div>

                        <!-- Telefono fijo -->
                        <div class="input-field col m4 s6">
                            <input id="telefono" type="tel" class="validate" ng-model="persona.perTelFijo" length="8" pattern="^[0-9]*$">
                            <label for="telefono">Teléfono Fijo</label>
                        </div>

                        <!-- Correo electronico -->
                        <div class="input-field col m4 s12">
                            <input id="correoElectronico" type="tel" ng-model="persona.perCorreoElectronico" >
                            <label for="correoElectronico">Correo Electrónico</label>
                        </div>
                    </div>
                      
                    <div class="row">
                        <!-- Pais de origen -->
                        <div class="input-field col m4 s12">
                            <select id="idPais"  ng-model="persona.paiCodigo" >
                                 
                                <option ng-repeat="it in listaPais" value="{{it.paiCodigo}}">{{it.paiCodigo}}-{{it.paiNombre}}</option>
                               <option class='ng-binding'   value='{{persona.pais.paiCodigo}}' disabled selected >{{persona.pais.paiNombre}}</option>
                                 
                            </select>
                            <label class="active">Pais de origen</label>
                        </div>

                    </div>
                    </div>  

<script type="text/javascript">
    
    $(document).ready(function() {
    $('select').material_select();
  });
       
    
    $('.datepicker').pickadate({
        
        selectMonths: true,
        selectYears: 100,
        firstDay: false,
        format: 'yyyy-mm-dd',
         max: new Date()
    });
    
  
  $(document).ready(function() {
    $('input#primerNombre,input#DUI, input#segundoNombre,input#primerApellido,input#segundoApellido,input#apellidoCasada,input#cel, input#telefono,input#profesion').characterCounter();
  });
  
  $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 2000});
  });
      
</script>