
<form class="col s12" ng-submit="guardarProfesion()">
            <div class="modal-content">
                 <h4>Datos de profesión:</h4>      
                <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="tipo" type="text" class="validate" required="true" ng-model="profesion.profNombre">
                            <label id="tipol" for="name">Nombre de profesión<span id="obligatorio">*</span></label>
                        </div>
                    </div>
                <br>
                <br>
                <br>
                <div class="row right">
                    <a class="modal-action modal-close waves-effect waves-light btn #ff5252 red accent-3"><i class="material-icons left">clear</i>Cancelar</a>
                    <button id="acept" class="btn waves-effect waves-light green" type="submit"><i class="material-icons left">done</i>Aceptar</button>
                    <div ng-include="'partials/componentes/load.html'"></div>
                </div>
                <br>
                <br>
                <br>
                <div class="divider"></div>
                <p>Campos indicados con <span id="obligatorio">*</span> son obligatorios.</p>
            </div>
</form>