<div class="row" ng-controller="profesionController">
        <!--Header-->
        <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                <h2 class="center-align white-text bold" ng-if="editar">Editar Profesión</h2>
                <h2 class="center-align white-text bold" ng-if="editar===false">Guardar Profesión</h2>
                <div class='row center'></div>
            </div>
        </div>

<!--Card panel para agregar profesión-->
<div class="container">  
  <div class="col s12 m12">
    <h5 class="header">Horizontal Card</h5>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
            <form class="col s12" ng-submit="guardarProfesion()">

                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="tipo" type="text" class="validate" required="true"  ng-model="profesion.profNombre" pattern="[A-Za-z0-9ñÑ&á-ú\s]+" length="50">
                            <label id="tipo" for="name">Nombre de Profesión:<span id="obligatorio">*<span></label>
                        </div>
                    </div>
            
                <br>
                <br>
                <br>
                <br>
                <div class="row right">
                    <a class="waves-effect waves-light btn #ff5252 red accent-3" href="#!/atributos"><i class="material-icons left">clear</i>Cancelar</a>
                    <button class="btn waves-effect waves-light green" type="submit"><i class="material-icons left">done</i>Aceptar</button>
                  <div ng-include="'partials/componentes/load.html'"></div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
        
                    
                
            </form>
        </div>
      </div>
    </div>
                    <p>Campos indicados con <span id="obligatorio">*</span> son obligatorios.</p>
  </div>
</div>
<!--<div class="container">  
  <div class="col s12 m12">
    <h5 class="header">Horizontal Card</h5>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
      </div>
    </div>
  </div>
</div>-->

</div>
<script>
    
    $(document).ready(function() {
    $('input#tipo').characterCounter();
  });
</script>