<form class="col s12" ng-submit="guardarPublicidad()">
            <div class="modal-content">
                <h4>Datos de publicidad</h4>   
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="tipo" type="text" class="validate" required="true" ng-model="publicidad.pubNombre">
                            <label id="tipol" for="name">Tipo de Publicidad:<span id="obligatorio">*</label>
                        </div>

                        <div class="input-field col m12 s12">
                            <textarea id="descripcion" class="materialize-textarea" ng-model="publicidad.pubDescripcion"></textarea>
                            <label id="descripcionl" class="descripcion" for="descripcion">Descripción de la publicidad:</label>
                        </div>
                    </div>
                <div class="row right">
                    <a class="modal-action modal-close waves-effect waves-light btn #ff5252 red accent-3"><i class="material-icons left">clear</i>Cancelar</a>
                    <button id="acept" class="btn waves-effect waves-light green" type="submit"><i class="material-icons left">done</i>Aceptar</button>
                    <div ng-include="'partials/componentes/load.html'">
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="divider"></div>
                <p>Campos indicados con <span id="obligatorio">*</span> son obligatorios.</p>    
            </div>
    
            </form>