<div class="row" ng-controller="publicidadController">
        
        <!--header-->
        <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                <h2 class="center-align white-text bold" ng-if="editar">Editar Publicidad</h2>
                <h2 class="center-align white-text bold" ng-if="editar===false">Guardar publicidad</h2>
                <h6 class="blue-text text-darken-2 center-align white-text bold" ng-if="publicidad.pubEstado==false">Publicidad Inactiva</h6>
                <div class='row center'></div>
            </div>
        </div>

<!--Panel para agregar publicidad-->
<div class="container">
    <div class="col s12 m12">
       <h4 class="header">Datos de la nueva publicicdad:</h4>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
                <form class="col s12" ng-submit="guardarPublicidad()">
                    <div class="modal-content">
                        <!--<h4>Datos de publicidad:</h4>-->
                            <div class="row">
                                <div class="input-field col s12 m6">
                                <input id="tipo" type="text" class="validate" required="true"  ng-model="publicidad.pubNombre" pattern="[A-Za-z0-9ñÑ&á-ú\s]+" length="50">
                                    <label id="tipo" for="name">Nombre de Publicidad:<span id="obligatorio">*<span></label>
                                </div>

                                <div class="input-field col m12 s12">
                                    <textarea id="descripcion" class="materialize-textarea" ng-model="publicidad.pubDescripcion" pattern="[A-Za-z0-9ñÑ&á-ú\s]+" length="100"></textarea>
                                    <label id="descripcionl" class="descripcion" for="descripcion">Descripción de la publicidad: </label>
                                </div>
                             </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    
                    <div class="row right">
                         <a class="waves-effect waves-light btn #ff5252 red accent-3" ng-click="cancelar()"><i class="material-icons left">clear</i>Cancelar</a>
                         <button class="btn waves-effect waves-light green" type="submit"><i class="material-icons left">done</i>Aceptar</button>                
                         <div ng-include="'partials/componentes/load.html'"></div>
                </form>     
            </div>
          </div>
        </div>
      </div>
    <p>Campos indicados con <span id="obligatorio">*</span> son obligatorios.</p>
</div>

<!--<div class="container">
<br>
<form class="col s12" ng-submit="guardarPublicidad()">
        <div class="modal-content">
            <h4>Datos de publicidad:</h4>   
                <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="tipo" type="text" class="validate" required="true"  ng-model="publicidad.pubNombre" pattern="[A-Za-z0-9ñÑ&á-ú\s]+" length="50">
                            <label id="tipo" for="name">Nombre de Publicidad:<span id="obligatorio">*<span></label>
                        </div>

                        <div class="input-field col m12 s12">
                            <textarea id="descripcion" class="materialize-textarea" ng-model="publicidad.pubDescripcion" pattern="[A-Za-z0-9ñÑ&á-ú\s]+" length="100"></textarea>
                            <label id="descripcionl" class="descripcion" for="descripcion">Descripción de la publicidad: </label>
                        </div>
                </div>
        </div>
        <br>
                <div class="row right">
                    <a class="waves-effect waves-light btn #ff5252 red accent-3" ng-click="cancelar()"><i class="material-icons left">clear</i>Cancelar</a>
                    <button class="btn waves-effect waves-light green" type="submit"><i class="material-icons left">done</i>Aceptar</button>
                
                    <div ng-include="'partials/componentes/load.html'"></div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="divider"></div>
                <p>Campos indicados con <span id="obligatorio">*</span> son obligatorios.</p>
</form>
</div>-->
</div>
</div>

<script>
    
    $(document).ready(function() {
    $('input#tipo, textarea#descripcion').characterCounter();
  });
</script>