<div class="row" ng-controller="rolController">
    <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                <h2 class="center-align white-text bold" ng-if="editar">Editar rol</h2>
                <h2 class="center-align white-text bold" ng-if="editar===false" >Agregar rol</h2>
                
                <br>
                <div class='row center'></div>
            </div>
        </div>
    <div class="container">
          <br>
          <form class="col s12" ng-submit="guardarRol()">
               <div class="modal-content">
                   <h4>Datos del Rol</h4>
                   <div class="row">
                    <!--        Nombre del rol               -->
                       <div class="input-field col s12 m6">
                            <input  id="tipo" type="text" class="validate"  required="true" ng-model="rol.rolNombre"   length='50'>
                            <label id="lname" class="ltipo active" for="name">Nombre del rol*</label>
                        </div>
                       
                   </div>
                    <!--        Menus asignados al paciente           -->
                   <div class="row">
                       <h5 class="red-text text-darken-2">Menus asignados</h5>
                       <div class="input-field col s12 m12 " ng-repeat="it in listaMenu">
                           <div class="card blue-grey darken-1s">
                               <i class="material-icons">{{it.menIcono}}</i>  
                               </div>
                          <p>
                               <input id="test{{it.menId}}"  type="checkbox" data-ng-init="mostrarMenu(it)" ng-checked="it.checked"  ng-click="addMenu(it)"    />
                         <label for="test{{it.menId}}">{{it.menNombre}}</label>
                        </p>
                        
                        <div ng-repeat="il in it.menuList">
                        <p >
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input id="test{{il.menId}}"  type="checkbox" data-ng-init="mostrarMenu(il)" ng-checked="il.checked"  ng-click="addMenu(il)"    />
                         <label for="test{{il.menId}}">{{il.menNombre}}</label>
                        
                        </div>
                        &nbsp&nbsp&nbsp
                       </div>
                   </div>
                   <div class="row right">
                       <a class="waves-effect waves-light btn #ff5252 red accent-3" href="#!/roles"><i class="material-icons left">clear</i>Cancelar</a>
                       <button class="btn waves-effect waves-light green" type="submit"><i class="material-icons left">done</i>Aceptar</button>
                   </div>
               </div>
              <div ng-include="'partials/componentes/load.html'">
          </form>
    </div>
</div>
</div>