<div class="row" ng-controller="sesionController">
    <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
                <div class="container ">
                    <h2 class="center-align white-text bold"><span>Nueva Sesión<span></h2>
                    <h6 class="center-align white-text bold"><span id="mayus">{{asignacion.tratamiento.tratNombre}}</span></h6>
                    <div class='row center'></div>
                </div>
     </div>
<div class="container">
    <div class="row">
         <div class="col m8 s10" ng-if="paciente.pacEstado">
                    <a class="waves-effect black-text tooltipped" data-position="right" data-tooltip="Atras" id="addbuton" href="#!/expediente/{{paciente.pacId}}"><i class="material-icons">arrow_back</i></a>
                </div>
    <!--   Informacion basica del paciente     -->
        <div class="col s12 m12">
                <h5 class="header black-text">Paciente</h5>
                <div class="card horizontal">
                    <div class="card-content">
                        <h5 class="txt1"><strong>Expediente:</strong> {{asignacion.expediente.expCodigo}}</h5>
                        <h5 class="txt1"><strong>Paciente:</strong> {{paciente.persona.perPrimerNombre}} {{paciente.persona.perSegundoNombre}} {{paciente.persona.perPrimerApellido}} {{paciente.persona.perSegundoApellido}}</h5>
                        <h5 class="txt1"><strong>Tratamiento:</strong> {{asignacion.tratamiento.tratNombre}}</h5>
                    </div>
                    <div class="card-content">
                        <h5 class="txt1"><strong>Atendió:</strong> &nbsp<span ng-bind=" user.name"></span></h5>
                        <h5 class="txt1"><strong>Fecha:</strong> {{CurrentDate | date:'medium'}}</h5>
                        <h5 class="txt1"><strong>.</strong></h5>
                    </div>
                </div>
            </div>
      </div>
 <form class="col s12" ng-submit="guardarSesion()">
        <div class="row">
<h5 class="header black-text">Signos Vitales</h5>
<div class="col m12 s12">
          <div class="card-panel">
                <br>
                    <!--      Elección del signo vital a agregar          -->
                    <div class="input-field col m4 s8">
                        <select ng-model="signoVital" ng-options="o.dsivNombre for o in listaTipoSignoVital" ng-click="iniciar()">
                        </select>
                        <label id="valor" for="name">Signos Vitales:<span id="obligatorio">*</span></label>
                    </div>
                    <!--       Boton para agregar Signo vital             -->
                    <div class="col m3 s4">
                         <a class="btn-floating btn-large waves-effect waves-light green " ng-click="agregarSignoVital()"><i class="material-icons">add</i></a>
                    </div>
            <div class="row">
                <div class="input-field col m12 s12">
                    <div ng-repeat="it in pilaSignoVital">
                    <!--         Valor del signo vital              -->
                        <div  class="input-field col m3 s6">
                            <input  id="valor" type="text" class="validate"  required="true" ng-model="it.siviValor" pattern="{{it.tipoSignoVital.dsivRestriccion}}"   length='50'>
                            <label id="lname" class="ltipo" for="valor">{{it.tipoSignoVital.dsivNombre}}({{it.tipoSignoVital.dsivUnidad}}):<span id="obligatorio">*<span></label>    
                        </div>
                    <!--            Descripción del signo vital         -->
                        <div  class="input-field col m7 s12">
                            <input  id="descripcion" type="text" class="validate"   ng-model="it.siviDescripcion"   length='50'>
                            <label id="lname" class="ltipo" for="descripcion">Observación:</label>
                        </div>
                    <!--         Para quitar el signo vital           -->
                        <div class="col m2 s12">
                             <a class="btn-floating btn-large waves-effect waves-light red " ng-click="quitarSignoVital(it)" ng-disabled="pilaSignoVital.length==0"><i class="material-icons">remove</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
<!--<h5 class="header">Estado de cita</h5>
  <div class="col m4 s12">
          <div class="card">
              <div class="card-action">
                  <select ng-model="cita.estId">
                      <option ng-repeat="it in listaEstado" value="{{it.estId}}">{{it.estNombre}}</option>
                  <option class='ng-binding' value='{{cita.estId}}' disabled selected >{{cita.estado.estNombre}}</option>
                                 
                  </select>  
              </div>
          </div>
  </div>-->
<!-- Panel para agregar Procedimientos de la sesion-->
<br>
    <h5 class="header black-text">Procedimientos</h5>
               <div class="card-panel"> 
                   <div class="row">
                    <!--            Procedimientos realizados           -->
                                <div class="input-field col m12 s12">
                                    <textarea id="proc" class="materialize-textarea" length="1000" ng-model="sesion.sesiProcedimientos" ></textarea>
                                    <label for="proc">Procedimientos Realizados:</label>
                                </div>
                    </div>
                   <div class="row">
                    <!--            Observaciones realizadas           -->
                                <div class="input-field col m6 s12">
                                    <textarea id="obser" class="materialize-textarea" length="1000" ng-model="sesion.sesiObservaciones" ></textarea>
                                    <label for="obser">Observaciones:</label>
                                </div>
                    <!--            Indicaciones medicas    -->
                    <div class="input-field col m6 s12">
                                    <textarea id="indi" class="materialize-textarea" length="1000" ng-model="sesion.sesiRecomendaciones" ></textarea>
                                    <label for="indi">Indicaciones médicas:</label>
                                </div>
                    </div>
                </div>
                  
</form>

<!-- Panel para agregar fotos-->
    <div class='row'>
         <div ng-include="'partials/componentes/fine-uploader/visualizacionImagenes.html'"></div>
    </div>
<a class="btn" ng-click="guardarFotos()">Guardar Fotos</a>
<br>
    <h5 class="header black-text">Imágenes subidas</h5>
     <div ng-if="sesion.imagenPacienteList.length!=0" class="slider">
    <ul class="slides" >
        
      <li  ng-repeat="im in sesion.imagenPacienteList">
        <img src="{{'imagenes/perfiles'+im.imagen.imgNombre}}"> <!-- random image -->
        <div class="caption center-align">
            <h3 class="black-text">{{im.impDescripcion}}</h3>
        </div>
      </li>

    </ul>
  </div>
                  <div ng-if="sesion.imagenPacienteList.length==0" class="card-panel teal lighten-2 white-text">
                      Actualmente no se han incluido fotografias en esta sesion
                  </div>
<!--Panel para agregar exámenes -->
            <div class='row'>
                <div ng-include="'partials/componentes/fine-uploader/visualizacionExamenes.html'"></div>   
             </div>
<a class="btn" ng-click="guardarExamenes()">Guardar Examenes</a>
<br>
    <h5 class="header black-text">Examenes subidos</h5>
     <div ng-if="sesion.examenPacienteList.length!=0" class="slider">
    <ul class="slides" >
        
      <li  ng-repeat="im in sesion.examenPacienteList">
        <img src="{{'imagenes/perfiles'+im.exaRuta}}"> <!-- random image -->
        <div class="caption center-align">
            
            <h3 class="black-text">{{im.exaObservacion}}</h3>
          
        </div>
      </li>

    </ul>
  </div>
                  <div ng-if="sesion.examenPacienteList.length==0" class="card-panel teal lighten-2 white-text">
                      Actualmente no se han incluido examenes en esta sesion
                  </div>
    
<div class="col s12 m12">
                <h5 class="header black-text">Opciones</h5>
                
                <div class="card-panel">
                    
                    <div  ng-if="paciente.pacEstado">
                        <a class="waves-effect waves-light btn #ff5252 red accent-3" id="addbuton" href="#!/expediente/{{paciente.pacId}}"><i class="material-icons left">clear</i>Cancelar</a>
                    
                   
                    <button class="btn waves-effect waves-light green" type="submit" data-tooltip="Registrar Sesion"><i class="material-icons left">done</i>Aceptar</button>
                   
                 </div> 
                    <!-- Preload de carga -->
                    <div ng-include="'partials/componentes/load.html'" style="text-align:right">
                
                    </div>
                
                
                </div>
            </div>
</div>
<!--fin container -->
      <h5 class="header black-text">Citas asignadas</h5>
  <div ng-include="'partials/modulos/formularios/asignacion.html'"></div>
</div>
   
</div>
<div id="modalImagen" class="modal modal-content" width='10%' max-height='100%' overflow-y='hidden'  >
    <section id="least"> 
<div class="least-preview"></div>
</section>

</div>

<style>
        #mayus{
          text-transform: uppercase;
        }
</style>
<!-- Scripts para acciones Materialice-->
<script>
    
     $(document).ready(function(){
      $('.least-gallery').least();
     });
    
    
     $(document).ready(function(){
      $('.carousel.carousel-slider').carousel({full_width: true});
      $('.carousel').carousel({fullWidth: true});
    });

   $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 1000});
  });

   function next(){
      $('.carousel').carousel('next');
    }
   
$(document).ready(function() {
    $('select').material_select();
  }); 

</script>