<div class="row" ng-controller="sexoController">
<div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                <h2 class="center-align white-text bold" ng-if="editar">Editar Genero</h2>
                <h2 class="center-align white-text bold" ng-if="editar===false">Guardar Genero</h2>
                <br>
                <div class='row center'></div>
            </div>
        </div>

<div class="container">
    <br>
<form class="col s12" ng-submit="guardarSexo()">
                <div class="modal-content">
                                 <h4>Datos de genero</h4>   
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="tipo" type="text" class="validate" required="true"  ng-model="sexo.sexNombre" pattern="[A-Za-z0-9ñÑ&á-ú\s]+" length="50">
                            <label id="tipo" for="name" class="active">Nombre de Genero<span id="obligatorio">*<span></label>
                        </div>

                      
                    </div>
                </div>
                <div class="row right">
                    <a class="waves-effect waves-light btn #ff5252 red accent-3" href="#!/atributos"><i class="material-icons left">clear</i>Cancelar</a>
                    <button class="btn waves-effect waves-light green" type="submit"><i class="material-icons left">done</i>Aceptar</button>
                    <br>
                    <br>
                     <div class="divider"></div>
                <p>Campos indicados con <span id="obligatorio">*</span> son obligatorios.</p>
                  <div ng-include="'partials/componentes/load.html'">
                </div>
            </form>
    </div>
</div>
</div>
<script>
    
    $(document).ready(function() {
    $('input#tipo').characterCounter();
  });
</script>