<div class="row" ng-controller="tipoSignoVitalController">

<!--Header-->  
  <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
              <div class="container ">
                  <h2 class="center-align white-text bold" ng-if="editar">Editar Tipo de signo vital</h2>
                  <h2 class="center-align white-text bold" ng-if="editar===false">Guardar Tipo de signo vital</h2>  
                  <div class='row center'></div>
              </div>
  </div>

<!--card panel para agregar signo vital-->
<div class="container">  
  <div class="col s12 m12">
    <h5 class="header">Datos del signo Vital</h5>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <form class="col s12" ng-submit="guardarSignoVital()">
                <div class="modal-content">
                    <br>
                    <div class="row">

                        <div class="input-field col s12 m6">
                            <input id="tipo" type="text" class="validate" required="true"  ng-model="tipoSignoVital.dsivNombre" pattern="[A-Za-z0-9ñÑ&á-ú\s]+" length="50">
                            <label id="tipo" for="tipo" class="active">Nombre de Signo vital:<span id="obligatorio">*<span></label>
                        </div>

                        <div class="input-field col s12 m3">
                            <input id="unidad" type="text"  required="true"  ng-model="tipoSignoVital.dsivUnidad" length='25'>
                            <label id="unidadl" for="unidad" class="active">Unidad de signo vital:<span id="obligatorio">*<span></label>
                        </div>
                       
                        <div class="input-field col s12 m12">
                            <input id="descripcion" type="text"  required="true"  ng-model="tipoSignoVital.dsivDescripcion" length='500'>
                            <label id="descripcionl" for="descripcion" class="active">Descripcion sobre signo vital:</label>
                        </div>
                        
                        <div class="input-field col s12 m6">
                            <h5>Restricción de ingreso</h5>
                         <p>
                             <input type="checkbox" id="test1" ng-model="negativo" />
                    <label for="test1">Negativos</label>
                            </p>
                                                
                             <p>
                                 <input type="checkbox" id="test4" ng-model="decimal" ng-change="validaDecimal()"/>
                    <label for="test4">Decimales</label>
                            </p>
                            <br>
                           
                            <p class="range-field" >
                                <input id="restriccion" ng-disabled="decimal!=true" type="range"  required="true"  ng-model="decimales" min="1" max="10" length='500'>
                            <label for="restriccion" class="active">Cantidad de Decimales :{{decimales}}</label>    
                            </p>
                         <div class="input-field col s12 m6">
                             <input id="restriccion" type="text"  required="true"  ng-model="tipoSignoVital.dsivRestriccion" length='500' disabled>
                            <label id="restriccionl" for="restriccion" class="active">Restriccion</label>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row right">
                    <a class="waves-effect waves-light btn #ff5252 red accent-3" href="#!/atributos"><i class="material-icons left">clear</i>Cancelar</a>
                    <button class="btn waves-effect waves-light green" type="submit"><i class="material-icons left">done</i>Aceptar</button>
                    <br>
                    <br>
                    
                  <div ng-include="'partials/componentes/load.html'">
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
                <p>Campos indicados con <span id="obligatorio">*</span> son obligatorios.</p>
</div>

<!--<div class="container">
    <br>
          <form class="col s12" ng-submit="guardarSignoVital()">
                <div class="modal-content">
                                 <h4>Datos de Signo vital</h4>   
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="tipo" type="text" class="validate" required="true"  ng-model="tipoSignoVital.dsivNombre" pattern="[A-Za-z0-9ñÑ&á-ú\s]+" length="50">
                            <label id="tipo" for="tipo" class="active">Nombre de Signo vital<span id="obligatorio">*<span></label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="unidad" type="text"  required="true"  ng-model="tipoSignoVital.dsivUnidad" length='500'>
                            <label id="unidadl" for="unidad" class="active">Unidad de signo vital<span id="obligatorio">*<span></label>
                        </div>
                        <div class="input-field col s12 m6">
                            <h5>Restricción de ingreso</h5>
                         <p>
                             <input type="checkbox" id="test1" ng-model="negativo" />
                    <label for="test1">Negativos</label>
                            </p>
                                                 <p>
                             <input type="checkbox" id="test2" ng-model="cero" />
                    <label for="test2">Cero</label>
                            </p>
                                                 <p>
                    <input type="checkbox" id="test3" ng-model="positivo" />
                    <label for="test3">Positivos</label>
                            </p>
                             <p>
                    <input type="checkbox" id="test4" ng-model="decimal"/>
                    <label for="test4">Decimales</label>
                            </p>
                            <br>
                           
                            <p class="range-field" ng-if="decimal==true">
                                <input id="restriccion" type="range"  required="true"  ng-model="decimales" min="1" max="10" length='500'>
                                </p>
                         <div class="input-field col s12 m6">
                             <input id="restriccion" type="text"  required="true"  ng-model="tipoSignoVital.dsivRestriccion" length='500' disabled>
                            <label id="restriccionl" for="restriccion" class="active">Restriccion</label>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row right">
                    <a class="waves-effect waves-light btn #ff5252 red accent-3" href="#!/atributos"><i class="material-icons left">clear</i>Cancelar</a>
                    <button class="btn waves-effect waves-light green" type="submit"><i class="material-icons left">done</i>Aceptar</button>
                    <br>
                    <br>
                     <div class="divider"></div>
                <p>Campos indicados con <span id="obligatorio">*</span> son obligatorios.</p>
                  <div ng-include="'partials/componentes/load.html'">
                </div>
            </form>
    </div>-->
</div>
</div>
<script type="text/javascript">
    
   $(document).ready(function() {
    $('input#tipo,input#unidad').characterCounter();
  });
  
</script>