<div class="row" ng-controller="tipoPagoController">
<div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                <h2 class="center-align white-text bold" ng-if="editar">Editar Tipo de Pago</h2>
                <h2 class="center-align white-text bold" ng-if="editar===false">Guardar Tipo de Pago</h2>
                <br>
                <div class='row center'></div>
            </div>
        </div>

<div class="container">
    <br>
<form class="col s12" ng-submit="guardarTipoPago()">
                <div class="modal-content">
                                 <h4>Datos del tipo de pago</h4>   
                    <div class="row">
                    <!--       Nombre del tipo de pago                 -->
                        <div class="input-field col s12 m6">
                            <input id="tipo" type="text" class="validate" required="true"  ng-model="tipoPago.tpagNombre" pattern="[A-Za-z0-9ñÑ&á-ú\s]+" length="50">
                            <label id="tipol" for="name" class="active">Nombre de tipo de pago<span id="obligatorio">*<span></label>
                        </div>
                    <!--         Descripcion del tipo de pago              -->
                        <div class="input-field col s12 m12">
                            <input id="descripcion" type="text" class="validate" required="true"  ng-model="tipoPago.tpagDescripcion" pattern="[A-Za-z0-9ñÑ&á-ú\s]+" length="50">
                            <label id="descripcion1" for="descripcion" class="active">Descripción de tipo de pago<span id="obligatorio">*<span></label>
                        </div>

                      
                    </div>
                </div>
                <div class="row right">
                    <a class="waves-effect waves-light btn #ff5252 red accent-3" href="#!/atributos"><i class="material-icons left">clear</i>Cancelar</a>
                    <button class="btn waves-effect waves-light green" type="submit"><i class="material-icons left">done</i>Aceptar</button>
                    <br>
                    <br>
                     <div class="divider"></div>
                <p>Campos indicados con <span id="obligatorio">*</span> son obligatorios.</p>
                  <div ng-include="'partials/componentes/load.html'">
                </div>
            </form>
    </div>
</div>
</div>
<script>
    
    $(document).ready(function() {
    $('input#tipo').characterCounter();
  });
</script>