<div class="row" ng-controller="tratamientoController">
      
    <!--header-->
      <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                <h2 class="center-align white-text bold" ng-if="editar">Editar tratamiento</h2>
                <h2 class="center-align white-text bold" ng-if="editar===false" >Agregar tratamiento</h2>
                <h6 class="blue-text text-darken-2 center-align white-text bold" ng-if="tratamiento.tratEstado==false">Tratamiento Inactivo</h6>
                <div class='row center'></div>
            </div>
        </div>

<div class="container">
    <div class="col s12 m12">
        <h4 class="header black-text">Datos del nuevo tratamiento</h4>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">

             <form class="col s12" ng-submit="guardarTratamiento()">
            
                  <div class="row">
                      <div class="input-field col s12 m6">
                        <input  id="tipo" type="text" class="validate"  required="true" ng-model="tratamiento.tratNombre"   length='50'>
                        <label id="lname" class="ltipo" for="name">Nombre del tratamiento:<span id="obligatorio">*<span></label>
                      </div>

                      <div class="input-field col m12 s12">
                        <textarea id="descripcion" class="materialize-textarea" ng-model="tratamiento.tratDescripcion" required="true"  length='500'></textarea>
                        <label id="ldescripcion" class="ldescripcion" for="descripcion">Descripción del Tratamiento:<span id="obligatorio">*<span> </label>
                      </div>
                      
                      <p>
                          <input type="checkbox" id="tratCirugia" ng-model="tratamiento.tratCirugia" />
                            <label for="tratCirugia">Tratamiento con cirugia </label>
                      </p>
                  </div>
                 
                        
                <div class="row">
                  <div class="col s12 m6">
                    <h4>Procedimientos</h4>
                  </div>
                  <div class="col s6 m2">
                      <a class="btn-floating btn-large waves-effect waves-light red " ng-click="quitarProcedimiento()" ng-disabled="numero==0"><i class="material-icons">remove</i></a>
                  </div>
                  <div class="col s6 m2  ">
                    <a class="btn-floating btn-large waves-effect waves-light green " ng-click="agregarProcedimiento()"><i class="material-icons">add</i></a>
                  </div>
                </div>
            
                <div ng-repeat="procedimiento in procedimientoList" >
                      <div class="input-field col m4 s12 scale-transition">
                          <input id='nameProc{{procedimiento.procNumero}}' type="text" ng-model="procedimiento.procNombre" required="true" class="validate" length='50'>
                          <label id="lnombreProc"  class="active" for="nameProc">Nombre del Procedimiento N° {{procedimiento.procNumero}}<span id="obligatorio">*<span></label>
                      </div>
                      
                      <div class="input-field col m8 s12 scale-transition">
                          <input type ="text" id="descripcionProcedimiento" ng-model="procedimiento.procDescripcion" length='500' required="true">
                          <label id="lprocedimiento{{procedimiento.procNumero}}" class="active" for="procedimientol">Descripción del Procedimiento N° {{procedimiento.procNumero}} <span id="obligatorio">*<span></label>
                      </div>
                </div>
<br>
                <div class="row right">
                    <a class="waves-effect waves-light btn #ff5252 red accent-3" href="#!/tratamientos"><i class="material-icons left">clear</i>Cancelar</a>
                    <button class="btn waves-effect waves-light green" type="submit"><i class="material-icons left">done</i>Aceptar</button>
                    <div ng-include="'partials/componentes/load.html'"></div>
                   <br>
                </div>
            
              </form>  
            </div>
          </div>
        </div>
      </div>
   
    <p>Campos indicados con <span id="obligatorio">*</span> son obligatorios.</p>
</div> 

</div>

<script>
     $(document).ready(function() {
    $('input#tipo,textarea#descripcion,input#nameProc1,input#descripcionProcedimiento1').characterCounter();
  });
    
</script>