<div class="row" ng-controller="usuarioController">
    <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
        <div class="container ">
            <h2 class="center-align white-text bold" ng-if="editar">Editar Usuario</h2>
            <h2 class="center-align white-text bold" ng-if="editar === false" >Agregar usuario</h2>

            <br>
            <div class='row center'></div>
        </div>
    </div>
    <div class="container">
        <br>
        <form class="col s12" ng-submit="guardarUsuario()">
            <div class="modal-content">
                <h4>Datos del Usuario</h4>  
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input id="nombre"  type="text" class="validate"  required="true" ng-model="usuario.usrUsername"   length='50'>
                        <label id="lname" class="ltipo" for="nombre">User Name</label>
                    </div>
                    <div class="input-field col s12 m6" ng-if="editar == false">
                        <select id="idemp" class="browser-default" ng-model="usuario.empId" required="true" ng-change="selectEmpleado(usuario.empId)" title="Empleado*">
                            <option  ng-repeat="it in listaEmpleado" value="{{it.empId}}">{{it.persona.perPrimerNombre}}{{' ' + it.persona.perSegundoNombre}}{{' ' + it.persona.perPrimerApellido}}{{' ' + it.persona.perSegundoApellido}}</option>
                        </select>
                        <label class="active">Empleado para asignar Usuario*</label>
                    </div>
                    <div class="input-field col s12 m6" ng-if="editar == false">
                        <select id="idemp" class="browser-default" ng-model="usuario.rolId" required="true" title="Rol*">
                            <option  ng-repeat="it in listaRol" value="{{it.rolId}}">{{it.rolNombre}}</option>
                        </select>
                        <label class="active">Rol a asignar a Usuario*</label>
                    </div>
                    <div class="input-field col s12 m4" ng-if="editar">
                        Empleado:{{usuario.empleado.persona.perPrimerNombre}}{{' ' + usuario.empleado.persona.perSegundoNombre}}{{' ' + usuario.empleado.persona.perPrimerApellido}}{{' ' + usuario.empleado.persona.perSegundoApellido}}
                        <img width="60%" higth="60%" class="circle responsive-img" id="image" src="{{'imagenes/perfiles'}}{{usuario.empleado.imagen.imgId.imgNombre}}" width="80%" height="40%" onerror="this.src='images/guest.png'" materialboxed >
                    </div>
                    <div class="input-field col s12 m12" >
                        <input id="contraseña1" type="password" class="validate" required="true" ng-model="contra1" length="50">
                        <label id="lname" ng-if="editar" class="ltipo" for="contraseña1">Nueva contraseña de el  Usuario</label> 
                        <label id="lname" ng-if="editar == false" class="ltipo" for="contraseña1">Contraseña de el  Usuario</label>
                    </div>
                    <div class="input-field col s12 m12" >
                        <input id="contraseña2" type="password" class="validate" required="true" ng-model="contra2" length="50">
                        <label id="lname" ng-if="editar" class="ltipo" for="contraseña1">Digite de nuevo la contraseña</label>
                        <label id="lname" ng-if="editar == false" class="ltipo" for="contraseña2">Digite de nuevo la contraseña</label>
                    </div>


                </div>
                <div class="row right">
                    <div ng-include="'partials/componentes/load.html'"></div>
                    <a class="waves-effect waves-light btn #ff5252 red accent-3" href="#!/usuarios"><i class="material-icons left">clear</i>Cancelar</a>
                    <button class="btn waves-effect waves-light green" type="submit"><i class="material-icons left">done</i>Aceptar</button>

                </div>
            </div>
        </form>

    </div>
</div>
<script>
    $(document).ready(function () {
        $('input#nombre').characterCounter();
    });
</script>