<div class="row">
     <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                <h2 class="center-align white-text bold">Papelera de Reciclaje</h2>
                <div class='row center'></div>
            </div>
        </div>
    
    
    <div class="col s12">
      <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#test1">Pacientes</a></li>
        <li class="tab col s3"><a href="#test2">Publicidad</a></li>
        <li class="tab col s3"><a href="#test3">Tratamientos</a></li>
        <li class="tab col s3"><a href="#test4">Empleados</a></li>
      </ul>
    </div>
    
    <br>
    <br>
    <br>
    <div id="test1" ng-controller="pacienteController" class="col s12" >
        <div   ng-include="'partials/modulos/tablas/tablaPacientes.html'"></div>
    </div>

    <div id="test2" ng-controller="publicidadController"  class="col s12" >
         <button ng-if="tablaPublicidadesInactivas==false || tablaPublicidadesInactivas==NULL" class="btn waves-effect waves-light green" type="submit" ng-click="listarPublicidadInactiva()">Mostrar Publicidades Inactivas</button>
         <button ng-if="tablaPublicidadesInactivas==true" class="btn waves-effect waves-light #ff5252 red accent-3" type="submit" ng-click="MoverTablaInactivos()">Ocultar tabla Publicidades Inactivas</button>
         <div class="container" ng-controller="paginacionController" ng-init="listarPublicidad()">
         <div ng-show="tablaPublicidadesInactivas" ng-include="'partials/modulos/tablas/tablaPublicidad.html'"></div>
    </div>
         </div>
  
    
    <!----------------------------------Tratamientos inactivos ------------------------------>
    <div id="test3" ng-controller="tratamientoController" class="col s12" >
         <button ng-if="tablaTratamientosInactivos==false || tablaTratamientosInactivos==NULL" class="btn waves-effect waves-light green" type="submit" ng-click="listarTratamientoInactivos()">Mostrar Tratamientos Inactivos</button>
        <button ng-if="tablaTratamientosInactivos==true" class="btn waves-effect waves-light #ff5252 red accent-3" type="submit" ng-click="MoverTablaInactivos()">Ocultar tabla Tratamientos Inactivos</button>

         <div ng-show="tablaTratamientosInactivos"  ng-include="'partials/modulos/tablas/tablaTratamiento.html'"></div>
      
    </div>
    
    <!----------------------------------Empleados inactivos ------------------------------>
    <div id="test4" ng-controller="empleadoController" class="col s12">
    <button ng-if="tablaEmpleadosInactivos==false || tablaEmpleadosInactivos==NULL" class="btn waves-effect waves-light green" type="submit" ng-click="listarEmpleadoInactivos()">Mostrar Empleados Inactivos</button>
        <button ng-if="tablaEmpleadosInactivos==true" class="btn waves-effect waves-light #ff5252 red accent-3" type="submit" ng-click="MoverTablaInactivos()">Ocultar tabla Empleados Inactivos</button>

         <div ng-show="tablaEmpleadosInactivos"  ng-include="'partials/modulos/tablas/tablaEmpleado.html'"></div>
      
    </div>
</div>
<script>
    $(document).ready(function(){
    $('ul.tabs').tabs();
  });
  </script>