<div class="row">
     <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                <h2 class="center-align white-text bold">Configuración del sistema</h2>
                <div class='row center'></div>
            </div>
        </div>
    
    
    <div class="col s12">
      <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#test1">Generos</a></li>
        <li class="tab col s3"><a href="#test2">Estados Civiles</a></li>
        <li class="tab col s3"><a href="#test3">Estados de Citas</a></li>
        <li class="tab col s3"><a href="#test4">Profesiones</a></li>
        <li class="tab col s3"><a href="#test5">Signos vitales</a></li>
        <li class="tab col s3"><a href="#test6">Tipos de pago</a></li>
      </ul>
    </div>
    
    <br>
    <br>
    <br>
  
    <div id="test1" ng-controller="sexoController" class="col s12"> 
       <button ng-if="mostrarSexos==false || mostrarSexos!==true" class="btn waves-effect waves-light green" type="submit" ng-click="mostrarSexo(true)">Mostrar generos</button>
       <button ng-if="mostrarSexos==true" class="btn waves-effect waves-light #ff5252 red accent-3" type="submit" ng-click="mostrarSexo(false)">Ocultar generos</button>      
        <div class="container" >
             <br>  
            <div class="row" ng-show="mostrarSexos">
                <div ng-include="'partials/modulos/tablas/tablaSexos.html'" ng-init="listarSexo()"></div>
            </div>
        </div>
    </div>
    <!-----------------------------------Estados Civiles ---------------------------->
    <div id="test2" ng-controller="estadoCivilController" class="col s12" ng-init="listarEstadoCivil()"> 
    <div ng-include="'partials/modulos/tablas/tablaEstadoCivil.html'"></div>
       </div>
    
    <div id="test3" ng-controller="estadoController" class="col s12" ng-init="listarEstado()"> 
    <div ng-include="'partials/modulos/tablas/tablaEstado.html'"></div>
       </div>
    
     <div id="test4" ng-controller="profesionController" class="col s12" ng-init="listarProfesion()"> 
    <div ng-include="'partials/modulos/tablas/tablaProfesion.html'"></div>
       </div>
    
    <div id="test5" ng-controller="tipoSignoVitalController" class="col s12"> 
    <div ng-include="'partials/modulos/tablas/tablaTipoSignoVital.html'"></div>
       </div>
    
    <div id="test6" ng-controller="tipoPagoController" class="col s12"> 
    <div ng-include="'partials/modulos/tablas/tablaTipoPago.html'"></div>
       </div>
</div>
<script>
    $(document).ready(function(){
    $('ul.tabs').tabs();
  });
  </script>