
<div class="row" >
    <div class="panel" ng-controller="expedienteController">
        <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                <h6 class="center-align white-text bold">Expediente de: </h6><h3 class="center-align white-text bold">{{paciente.persona.perPrimerNombre}} {{paciente.persona.perSegundoNombre}} {{paciente.persona.perPrimerApellido}} {{paciente.persona.perSegundoApellido}}</h3>
                 <h6 class="blue-text text-darken-2 center-align white-text bold" ng-if="paciente.pacEstado==false">Expediente Inactivo</h6>
                <div class="row center">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col m8 s10" ng-if="paciente.pacEstado">
                    <a class="waves-effect waves-light black-text" id="addbuton" href="#!/pacientesExpedientes"><i class="material-icons">arrow_back</i></a>
                </div>
                <div class="col m8 s10" ng-if="paciente.pacEstado==false">
                    <a class="waves-effect waves-light btn #2979ff red accent-3" id="addbuton" href="#!/configuracion"><i class="material-icons">arrow_back</i></a>
                </div>
                <div class="row">
               <div class="col m2 s5 rigth">
                   <a class="waves-effect waves-light btn #9e9e9e grey tooltipped" data-position="bottom" data-delay="50" id="printbuton" ng-click="generarReportepaciente()" data-tooltip="Imprimir Reporte de informacion de paciente"><i class="material-icons">local_printshop</i></a>
                </div>
                <div class="col m2 s5 rigth" >
                    <a class="waves-effect waves-light btn #fff176 yellow lighten-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ver bitacora" id="addbuton" href="#!/bitacoraPaciente/{{paciente.pacId}}"><i class="material-icons">accessibility</i></a>
                </div>
               
                    
            </div>
            </div>
        </div>
        
<div  class="container">
  <div id="expediente" class="row">
        <div class="col s6">
            <h5 class="txt1"><strong>Expediente:</strong> {{paciente.expediente.expCodigo}}</h5>
            <h5 class="txt1"><strong>Fecha de registro:</strong> {{paciente.expediente.expFechaCreacion}}</h5>
            <h5 class="txt1"><strong>Nombres:</strong> {{paciente.persona.perPrimerNombre}} {{paciente.persona.perSegundoNombre}}</h5>
            <h5 class="txt1"><strong>Apellidos:</strong> {{paciente.persona.perPrimerApellido}} {{paciente.persona.perSegundoApellido}} </h5>
            <h5 class="txt1"><strong>Fecha Nacimiento:</strong> {{paciente.persona.perFechaNacimiento}}</h5>
            <h5 class="txt1"><strong>Género:</strong> {{paciente.persona.sexo.sexNombre}}</h5>
            <h5 class="txt1"><strong>Tel Celular:</strong> {{paciente.persona.perTelCelular}}</h5>
            <br>
            <h5 class="txt1"><strong>Contacto Emergencia:</strong> {{paciente.persona.contacto.contNombre}}</h5>
        </div>
        <div class="col s6">
            <h5 class="txt1"><strong>Tel Fijo:</strong> {{paciente.persona.perTelFijo}} </h5>
            <h5 class="txt1"><strong>Municipio:</strong> {{paciente.persona.municipio.munNombre}}</h5>
            <h5 class="txt1"><strong>Dirección:</strong> {{paciente.persona.perDireccion}}</h5>
            <h5 class="txt1"><strong>Nombre de Documento:</strong> {{paciente.persona.documento.docNombre}}</h5>
            <h5 class="txt1"><strong>Numero de Documento:</strong> {{paciente.persona.documento.docCodigo}}</h5>
            <h5 class="txt1"><strong>Estado Civil:</strong> {{paciente.persona.estadoCivil.estNombre}}</h5>
            <h5 class="txt1"><strong>Correo electrónico:</strong> {{paciente.persona.perCorreoElectronico}}</h5>
            <br>
            <h5 class="txt1"><strong>Tel Emergencia:</strong>{{paciente.persona.contacto.contTelefono}}</h5>
        </div>

      <div class="row">
        <div class="col s12 m6">
          <h5 class="txt1"><strong><br><br>Antecedentes Personales:</strong> </h5>
          <p>{{paciente.pacAntecedentesPersonales}}</p>
        </div>
        <div class="col s12 m6">
          <h5 class="txt1"><strong><br><br>Antecedentes Médicos:</strong> </h5>
          <p>{{paciente.pacAntecedentesMedicos}}</p>
        </div>
      </div>
      
  </div>
</div>
                   

<div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
  <div class="container ">
       <div class="col m2 s5 rigth">
            <a class="waves-effect waves-light btn #9e9e9e grey tooltipped tooltipped" data-position="bottom" data-delay="50" data-tooltip="Imprimir Tratamientos"   id="printbuton" ng-click="generarReporteExpediente()" ><i class="material-icons">local_printshop</i></a>
    
       </div>
   <h2 class="center-align white-text bold">Tratamientos</h2>
   
        
   <br>
   <div class='row center'> </div>
  </div>
</div>


<div class="container">

<div class="row">
  <div class="col m6 s12">
      <a class="waves-effect waves-light btn" ng-click="nuevoTratamiento()"><i class="material-icons left">add</i>Nuevo tratamiento</a><br>
  </div>
  <div class="col m6 s6">
      <a class="waves-effect waves-light btn blue" ng-click="nuevaCita()"><i class="material-icons left">alarm</i>Programar cita</a><br>
  </div>
  <!-- <div class="col m3 s6">
      <a class="waves-effect waves-light btn blue" ng-click="nuevaSesion()">Inicializar sesion</a><br>
  </div> -->
</div>      

<!--Modal para asignar Tratamiento-->
<div id="nuevoTratamientoModal" class="modal" >
    <div ng-include="'partials/modulos/formularios/nuevaAsignacion.html'"></div>
</div> 
<!-- -->
<!-- Modal para agregar cita y sesion vacia -->
<div id="modalCita" class="modal" >
    <div ng-include="'partials/modulos/formularios/asignacionCita.html'"></div>
</div>
<!-- -->
<!-- Modal para agregar sesion -->
<div id="modalSesion" class="modal" >
    <div ng-include="'partials/modulos/formularios/inicializarSesion.html'"></div>
</div>
<!-- -->
 <div ng-include="'partials/modulos/formularios/asignacionesList.html'"></div>


</div>
    </div>
</div>
<div id="modalImagen" class="modal modal-content" width='10%' max-height='100%' overflow-y='hidden' >
    <section id="least" width="20%" max-height="20%" > 
<div class="least-preview" width="20%" max-height="20%"></div>
</section>
</div>
<script>   
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
  
  

  $(document).ready(function() {
    $('textarea#plan').characterCounter();
  });
  
   $(document).ready(function(){
      $('.least-gallery').least();
     });

$(document).ready(function(){
    $('.materialboxed').materialbox();
  });
  
$(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });
</script>

<style>
        #mayus{
          text-transform: uppercase;
        }
</style>