<div class="row" ng-controller="tratamientoController" ng-init="listarTratamiento()">
    <div class="panel" >
        <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                <h2 class="center-align white-text bold">Tipo de tratamientos</h2>
                <div class='row center'> </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col m4 s12">
                    <a class="waves-effect waves-light btn #2979ff blue accent-3" id="addbuton"  href="#!/addTratamiento"><i class="material-icons left">add</i>Agregar</a>
                </div>
            </div>
        </div>
        <div ng-include="'partials/modulos/tablas/tablaTratamiento.html'"></div>
    </div>
</div>
<script type="text/javascript">
    $('select').material_select();
</script>