<div class="row">
    <div class="panel" ng-controller="publicidadController">
        <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                <h2 class="center-align white-text bold">Publicidad</h2>
                <div class='row center'></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col m4 s12">
                    <a class="waves-effect waves-light btn #2979ff blue accent-3" id="addbuton"  href="#!/addPublicidad"><i class="material-icons left">add</i>Agregar</a>
                </div>
            </div>
        </div>
        <div class="container" ng-controller="paginacionController" ng-init="listarPublicidad()">
        <div ng-include="'partials/modulos/tablas/tablaPublicidad.html'"></div>
    </div>
        </div>
</div>

<!--<div class="container">
    <div class="col s12 m7">
        <h2 class="header">Publicidades</h2>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <div ng-include="'partials/modulos/tablas/tablaPublicidad.html'"></div>
            </div>
          </div>
        </div>
      </div>
</div>-->