<div class="row">
    <div class="panel" ng-controller="pacienteController">
        <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                <h2 class="center-align white-text bold">Pacientes</h2>
                <div class="row center"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="input-field col m3 s12">                    
                    <a class="waves-effect waves-light btn #2979ff blue accent-3" id="addbuton" ng-click="limipiarPaciente()" href="#!/addPaciente"><i class="material-icons left">add</i>Agregar</a>
                </div>
            </div>  
        </div>
        <div ng-include="'partials/modulos/tablas/tablaPacientes.html'"></div>
    </div>
</div>
<script>   
 $('#pag1').removeClass("waves-effect").addClass("active");
</script>