<div classs="row" ng-controller="rolController">
    <div class="panel">
        <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container">
                <h2 class="center-align white-text bold">Roles</h2>
                <div class='row center'> </div>
            </div>
        </div>
        <div ng-include="'partials/modulos/tablas/tablaRoles.html'"></div>
    </div>
</div>
