<div class="row">
    <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                <h2 class="center-align white-text bold">Estadísticas del sistema</h2>
                <div class='row center'></div>
            </div>
        </div>
   
    <div class="col s12">
        
      <ul class="tabs">
        <li class="tab col s3"><a class="active blue-text"  href="#test1" >Estados Civiles</a></li>
        <li class="tab col s3 "><a  href="#test2" class="blue-text">Géneros</a></li>
        <li class="tab col s3 "><a href="#test5" class="blue-text">Profesion</a></li>
        <li class="tab col s3 "><a href="#test3" class="blue-text">Publicidad</a></li>
        <li class="tab col s3 "><a href="#test4" class="blue-text">Tratamientos</a></li>
        
      </ul>
    </div>
    
    
    <br>
    <div class="container">
     <div id="test1"  class="col s12">
         <div ng-include="'partials/componentes/graficos/estadisticaEstadoCivil.html'"></div>
     </div>
     <div id="test2"  class="col s12">
        <div ng-include="'partials/componentes/graficos/estadisticaSexo.html'"></div>
     </div>
     <div id="test3"  class="col s12">
        <div ng-include="'partials/componentes/graficos/estadisticaPublicidad.html'"></div>
     </div>
     <div id="test4"  class="col s12">
        <div ng-include="'partials/componentes/graficos/estadisticaTratamiento.html'"></div>
     </div>
      <div id="test5"  class="col s12">
        <div ng-include="'partials/componentes/graficos/estadisticaProfesion.html'"></div>
     </div>
    </div>  
    
</div>
<script>
     $(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>