<div class="row">
    <div class="panel" ng-controller="pacienteController">
        <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                <h2 class="center-align white-text bold">Expedientes</h2>
                <div class="row center"></div>
            </div>
        </div>
        <br>
        <div ng-include="'partials/modulos/tablas/tablaPacientesExpedientes.html'"></div>
    </div>
</div>
<script>   
 $('#pag1').removeClass("waves-effect").addClass("active");
</script>