<div class="row" >
    <div class="panel" ng-controller="expedienteController">
        <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                <h6 class="center-align white-text bold">Cartera de pagos de: </h6><h3 class="center-align white-text bold">{{paciente.persona.perPrimerNombre}} {{paciente.persona.perSegundoNombre}} {{paciente.persona.perPrimerApellido}} {{paciente.persona.perSegundoApellido}}</h3>
                <div class="row center">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col m8 s12">
                    <a class="waves-effect waves-light btn #2979ff red accent-3" id="addbuton" href="#!/pacientes"><i class="material-icons">arrow_back</i></a>
                </div>
            </div>
        </div>

  <div class="container">
   <div ng-include="'partials/modulos/formularios/asignacionesTratPagos.html'"></div>
  </div>
</div>
</div>


<style>
        #mayus{
          text-transform: uppercase;
        }
</style>