body {
    padding-top: 60px;
    background-color: white;
}

.loader {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    width: 200px;
    height: 92px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.margen-au{
    margin: 15px;
}
