body{
    background-color: #ffffff;
}


video{
    margin: 0;
    width: 100%;
    margin-top: 0;
}

#log{
    margin-top: 80px;
}
form{
    margin-left: 100px;
}

.modal {
    width: 70% !important ;
    height: 80% !important ;
    margin-left: 30px;
}

.z-depth-0 {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
}

nav .nav-wrapper form, nav .nav-wrapper form .input-field{
    height: 100%;
}

input[type="search"] {
    height: 64px !important; /* or height of nav */
}

#especial strong {
    font-weight: 700;
}
h5.txt1 {
    font-size: 120%;
}

img {
    height: auto;
}
