body{
	/*background-image: url(../images/fondo3.jpg);*/
        background-color: #37474f;
	background-size: 100% 100%;
	background-attachment: fixed;
}
#imagen{
margin-top: 40px;

}

#log{
	margin-top: 60px;

}
#login-page{
	width: 290px;
}

html,
body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}

/* label focus color */
   .input-field input[type=text]:focus + label {
     color: #827717;
}
/* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #827717;
     box-shadow: 0 1px 0 0 #827717;
   }

	 /* label focus color */
	    .input-field input[type=password]:focus + label {
	      color: #827717;
	 }
	 /* label underline focus color */
	    .input-field input[type=password]:focus {
	      border-bottom: 1px solid #827717;
	      box-shadow: 0 1px 0 0 #827717;
	    }
            
.LoginErrorMsg {
    background-color: rgba(145,129,55,0.85);
    border-radius: 2px;

    color: white;
    text-align: center;
    font-size: 10;
    font-weight: bolder;
}