<div class="row" ng-controller="publicidadController" ng-init="listarPublicidadPacientes()">  
    
    <div class="card-panel">
     <h4>Estadistica de pacientes por publicidad</h4>
       <table class="bordered">
         <thead>
             <tr>
                 <th>Género</th>
                 <th>Pacientes por Publicidad</th>
                 
             </tr>
         </thead>
         <tbody>
             <tr ng-repeat="it in listaPublicidadEstadistica">
                 <td>{{it[1]}}</td>
                 <td>{{it[2]}}</td>
             </tr>
         </tbody>
     </table>
     
     
     </div>
     <button ng-if="grafico==false || grafico==NULL" class="waves-effect waves-light btn #2979ff blue accent-3" id="addbuton"  ng-click="mostrarGrafico(true)"><i class="material-icons left">trending_up</i>Mostrar Grafico</button>
     <button ng-if="grafico==true" class="waves-effect waves-light btn #ff5252 red accent-2 white-text" id="restbutton"  ng-click="mostrarGrafico(false)"><i class="material-icons left">clear</i>Ocultar Grafico</button>
     
     <div  ng-show="grafico" ng-init="tipoGrafico='pie'">
         <div class="card-panel"> 
            <canvas id="publicidad" width="50" height="25" ></canvas>
            </div>
     </div>
</div>