<div class="row" ng-controller="estadoCivilController" ng-init="listarEstadoPacientes()">
    <div class="card-panel"><h4>Estadistica de pacientes por estado civil</h4>
     <table class="bordered">
         <thead>
             <tr>
                 <th>Género</th>
                 <th>Pacientes por Estado Civil</th>
                 
             </tr>
         </thead>
         <tbody>
             <tr ng-repeat="it in listaEstadoEstadistica">
                 <td>{{it[1]}}</td>
                 <td>{{it[2]}}</td>
             </tr>
         </tbody>
     </table>
    </div>
    
     <button ng-if="grafico==false || grafico==NULL" class="waves-effect waves-light btn #2979ff blue accent-3" id="addbuton"  ng-click="mostrarGrafico(true)"><i class="material-icons left">trending_up</i>Mostrar Grafico</button>
     <button ng-if="grafico==true" class="waves-effect waves-light btn #ff5252 red accent-2 white-text" id="restbutton"  ng-click="mostrarGrafico(false)"><i class="material-icons left">clear</i>Ocultar Grafico</button>
     <br>
     
     <div  ng-show="grafico" ng-init="tipoGrafico='pie'">
     <div class="card-panel">
         <canvas id="estCiviles" width="50" height="25" ></canvas>
     </div>
     </div>
   
</div>