<div class="row" ng-controller="tratamientoController" ng-init="listarTratamientoPacientes()" >
   
    <div class="card-panel">
     <h4>Estadistica de Tratamientos</h4>
     <table class="bordered">
         <thead>
             <tr>
                 <th>Tratamiento</th>
                 <th>Cantidad Asignada</th>
                 
             </tr>
         </thead>
         <tbody>
             <tr ng-repeat="it in listaTratamientoEstadistica">
                 <td>{{it[1]}}</td>
                 <td>{{it[2]}}</td>
             </tr>
         </tbody>
     </table>
     </div>
     <button ng-if="grafico==false || grafico==NULL" class="waves-effect waves-light btn #2979ff blue accent-3" id="addbuton"  ng-click="mostrarGrafico(true)"><i class="material-icons left">trending_up</i>Mostrar Grafico</button>
     <button ng-if="grafico==true" class="waves-effect waves-light btn #ff5252 red accent-2 white-text" id="restbutton"  ng-click="mostrarGrafico(false)"><i class="material-icons left">clear</i>Ocultar Grafico</button>
     <a type='button' class='waves-effect waves-light btn #4a148c purple darken-4' ng-click="cambiarGrafico()"><i class="material-icons left">cached</i>Cambiar tipo de grafico</a>
         
     <div  ng-show="grafico" ng-init="tipoGrafico='pie'">
          
          
          <div ng-if='tipoGrafico==="bar"'>
            <div class="card-panel">
                <canvas id="tratamientos" class="tratamientos" width="50" height="25" ></canvas>
            </div>
          </div>
          
          
         <div  ng-if='tipoGrafico==="pie"'>
             <div class="card-panel">
                 <canvas  id="tratamientos" class="tratamientos" width="50" height="25" ></canvas>
             </div>
         </div>
        
     </div>
     
   
     
</div>
