<!-- Preloader de Tratamientos -->
     <div id="preload1" class="preloader-wrapper small ">
      <div id="preload2" class="preloader-wrapper small ">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                <div class="circle"></div>
               </div>
                <div class="gap-patch">
                <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
               </div>

                        <div class="spinner-layer spinner-green">
                         <div class="circle-clipper left">
                        <div class="circle"></div>
                        </div>              
                            <div class="gap-patch">
                            <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-------------------------------------- -->