<div class="row">
    <div class="panel" ng-controller="accessTokenController">
        <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                <h2 class="center-align white-text bold">Inicios de sesión</h2>
                <div class='row center'></div>
            </div>
        </div>

        <div class="container" ng-controller="paginacionController">
            <div class="row">
                <div class="col m2 s10 rigth">
                    <a class="waves-effect waves-light btn #9e9e9e grey" id="printbuton" ng-click="generarReporteAccess()"><i class="material-icons">local_printshop</i></a>
                </div>
            </div>
            <table class= "highlight centered bordered ">
                <thead>
                    <tr class="center">
                        <th width="10%"  data-field="id" style="text-align: center;"><a type="button" class="waves-effect waves-light btn #0288d1 light-blue darken-2 center " ng-click="orderBy('usr')">Nombre de Usuario<i class="material-icons">arrow_drop_{{iconReverse}}</i></a></th>
                        <th width="13%" data-field="name" style="text-align: center;"><a type="button" class="waves-effect waves-light btn #0288d1 light-blue darken-2" ng-click="orderBy('fechaIngreso')">Tiempo de ingreso<i class="material-icons">arrow_drop_{{iconReverse}}</i></a></th>
                    </tr>
                </thead>
                <!-- Tabla para iterar las sesiones   -->
                <tbody>
                    <tr ng-repeat="it in listaAccessToken| filter:searchString | searchFor:currentPage * numItems | limitTo:numItems|orderBy: order: reverse">
                        <td style="text-align: center;"> {{it.usr}}</td>
                        <td style="text-align: center;"> {{it.fechaIngreso}} hora:{{it.horaIngreso}}</td>
                    </tr>
                </tbody>
                <div class="row right" ng-include="'partials/componentes/paginacion/paginacion.html'"></div>
            </table>
        </div>


    </div>
</div>