<div class="container" ng-controller="paginacionController">
             <nav>
            <div class="nav-wrapper white black-text">
              <form>
                <div class="input-field">
                  <input id="search" ng-model="searchString" type="search" required placeholder="Buscar Usuario">
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
                </div>
              </form>
            </div>
        </nav> 
        <br> 
            <table class="highlight centered bordered ">
                <thead>
                    <tr class ="blue-grey lighten-5">
                        <th>Indice</th>
                        <th><a type="button" class="btn transparent black-text z-depth-0" ng-click="orderBy('usrNombre')">Nombre<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                        <th><a type="button" class="btn transparent black-text z-depth-0" ng-click="orderBy('rol.rolNombre')">Rol<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  ng-repeat="it in listaUsuario | filter:searchString | searchFor:currentPage*numItems | limitTo:numItems|orderBy: order: reverse">
                        <td style="text-align: center;">{{currentPage*numItems+$index + 1}}</td>
                        <td style="text-align: justify;">{{it.usrUsername}}</td>
                        <td style="text-align: justify;">{{it.rol.rolNombre}}</td>
                        <td style="text-align: center;">
                            <a type="button" class="waves-effect waves-light btn #03a9f4 light-blue lighten-2 white-text" href="#!/editUsuario/{{it.usrId}}" ng-click="obtenerUsuario(it.usrId)"><i class="material-icons ">mode_edit</i></a>
                            <button type="button" class="waves-effect waves-light btn #ff5252 red accent-2 white-text" ng-if="user.name!=it.usrUsername" ng-click="eliminarUsuario(it.usrId)"><i class="material-icons">delete</i></button>
                        </td>
                    </tr>
                </tbody>
                 <!--   Paginacion  -->
    <div class="row right" ng-include="'partials/componentes/paginacion/paginacion.html'"></div>
                <!-- --------------- -->
            </table>
        <br>
        <br>
        <div class="row center" >
    <div ng-if='loaderVar != false'  ng-include="'partials/componentes/loader2.html'"></div>
    <h3 class="header" ng-if='loaderVar != false' >Verificando Usuarios</h3>
    <h3 class="header" ng-if='vacio==true'>No hay usuarios activos.</h3>  
     
  </div>
            
        </div>