<div class="container" ng-controller="paginacionController">
    
        <nav>
            <div class="nav-wrapper white black-text">
              <form>
                <div class="input-field">
                  <input id="search" ng-model="searchString" type="search" required placeholder="Buscar Paciente">
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
                </div>
              </form>
            </div>
        </nav> 
        <br>           
            <table class= "highlight centered bordered ">
                <thead>
                    <!--  <div class="nav-wrapper">
                        <div class="input-field">
                            <input id="search"  ng-model="searchString" class="search"  type="search" required>
                          
                             <label class="label-icon" for="search">Buscar paciente<i class="material-icons left">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                </div> -->
                    <tr class="blue-grey lighten-5">
                        <th width="10%"  data-field="id" style="text-align: center;"><a type="button" class=" btn transparent black-text z-depth-0" ng-click="orderBy('persona.perId')">N°<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                        <th width="13%" data-field="name" style="text-align: center;"><a type="button" class="btn transparent black-text z-depth-0" ng-click="orderBy('persona.perPrimerNombre')">Nombre<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                        <th width="16%" data-field="apellido" style="text-align: center;"><a type="button" class="btn transparent black-text z-depth-0" ng-click="orderBy('persona.perPrimerApellido')">Apellido<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                        <th width="5%" data-field="expediente" style="text-align: center;"><a type="button" class="btn transparent black-text z-depth-0" ng-click="orderBy('expediente.expCodigo')">Expediente<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                        <th width="25%" data-field="price" style="text-align: center;">Opciones</th>
                    </tr>
                </thead>
                <!-- Tabla para iterar la los pacientes   -->
                <tbody> 
                    <tr ng-repeat="it in listaPacientes |busqueda:searchString |searchFor:currentPage*numItems | limitTo:numItems |orderBy: order: reverse">
                        <td style="text-align: center;"> {{it.pacId}}</td>
                        <td style="text-align: left;">{{it.persona.perPrimerNombre}} {{it.persona.perSegundoNombre}} </td>
                        <td style="text-align: left;">{{it.persona.perPrimerApellido}} {{it.persona.perSegundoApellido}}</td>
                        <td style="text-align: center;">{{it.expediente.expCodigo}}</td>
                        <td style="text-align: center;">
                             <a href="#!/tratamientosPagos/{{it.pacId}}" type="button" class="waves-effect waves-light btn #a5d6a7 green lighten-3 white-text"><i class="material-icons">attach_money</i></a>
                        </td>
                    </tr>
                </tbody>
                <!--   Paginacion  -->
    <div class="row right" ng-include="'partials/componentes/paginacion/paginacion.html'"></div>
                <!-- --------------- -->
            </table>
      
        </div>