<div class="container" ng-controller="tipoSignoVitalController">


<a class="waves-effect waves-light btn #2979ff blue accent-3" id="addbuton"  href="#!/addTipoSignoVital"><i class="material-icons left">add</i>Agregar</a>

<br>

            <br>
        <nav>
            <div class="nav-wrapper white black-text">
              <form>
                <div class="input-field">
                  <input id="search" ng-model="searchString" type="search" required placeholder="Buscar Tipo de signo vital">
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
                </div>
              </form>
            </div>
        </nav>  
        <br>
            <table class="highlight centered bordered ">
                <thead>
                    <tr clas ="blue-grey lighten-5">
                        <th><a type="button" class="btn transparent black-text z-depth-0" ng-click="orderBy('dsivId')">Indice<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                        <th><a type="button" class="btn transparent black-text z-depth-0" ng-click="orderBy('dsivNombre')">Nombre<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                        <th><a type="button" class="btn transparent black-text z-depth-0" ng-click="orderBy('dsivUnidad')">Unidad<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="it in listaTipoSignoVital | filter:searchString | searchFor:currentPage*numItems | limitTo:numItems|orderBy: order: reverse">
                        <td style="text-align: center;">{{it.dsivId}}</td>
                        <td style="text-align: center;">{{it.dsivNombre}}</td>
                        <td style="text-align: center;">{{it.dsivUnidad}}</td>
                        <td style="text-align: center;">
                            <a type="button" class="waves-effect waves-light btn #03a9f4 light-blue lighten-2 white-text"  href="#!/editTipoSignoVital/{{it.dsivId}}" ><i class="material-icons ">mode_edit</i></a>
                            <button type="button" class="waves-effect waves-light btn #ff5252 red accent-2 white-text" ng-click="eliminarTipoSignoVital(it.dsivId)"><i class="material-icons">delete</i></button>
                        </td>
                    </tr>
                </tbody>
                 <!--   Paginacion  -->
            <div class="row right" ng-include="'partials/componentes/paginacion/paginacion.html'"></div>
                <!-- --------------- -->
            </table>
            
        </div>