<div class="row"  ng-controller="bitacoraController" ng-init="listarBitacoraPagoTratamiento()()">
    <div class="panel">
         <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
            <div class="container ">
                <h2 class="center-align white-text bold">Bitacora de Seguimiento</h2>
                <div class='row center'></div>
            </div>
         </div>
        <div class="container">
            
                 <table class= "highlight centered bordered ">
                <thead>
                    <tr class="center">
                        <th width="15%"  data-field="id" style="text-align: center;"><a type="button" class=" btn transparent black-text z-depth-0" ng-click="orderBy('segAccion')">Accion relizada<i class="material-icons">arrow_drop_{{iconReverse}}</i></a></th>
                        <th width="15%" data-field="name" style="text-align: center;"><a type="button" class=" btn transparent black-text z-depth-0" ng-click="orderBy('segUsuario')">Usuario Responsable<i class="material-icons">arrow_drop_{{iconReverse}}</i></a></th>
                        <th width="15%" data-field="fecha" style="text-align: center;"><a type="button" class=" btn transparent black-text z-depth-0" ng-click="orderBy('segDia')">Dia de la accion<i class="material-icons">arrow_drop_{{iconReverse}}</i></a></th>
                        <th width="15%" data-field="fecha" style="text-align: center;"><a type="button" class=" btn transparent black-text z-depth-0" ng-click="orderBy('segHora')">Hora de la accion<i class="material-icons">arrow_drop_{{iconReverse}}</i></a></th>
                    </tr>
                </thead>
                <!-- Tabla para iterar las sesiones   -->
                <tbody>
                    <tr ng-repeat="it in listaSeguimiento| filter:searchString | searchFor:currentPage * numItems | limitTo:numItems|orderBy: order: reverse">
                        <td style="text-align: center;"> {{it.segAccion}}</td>
                        <td style="text-align: center;"> {{it.segUsuario}}</td>
                        <td style="text-align: center;"> {{it.segDia}}</td>
                        <td style="text-align: center;"> {{it.segHora}}</td>
                    </tr>
                </tbody>
                <div class="row right" ng-include="'partials/componentes/paginacion/paginacion.html'"></div>
            </table>
                 
             </div>
        </div>
    </div>
