

    
        <nav>
            <div class="nav-wrapper white black-text">
              <form>
                <div class="input-field">
                  <input id="search" ng-model="searchString" type="search" required placeholder="Buscar Publicidad">
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
                </div>
              </form>
            </div>
          </nav>    

    <table class="highlight centered bordered" >
                 
                <thead>
                    <tr class="blue-grey lighten-5">
                        <th width="10%" data-field="id" style="text-align: center;">Indice</th>
                        <th width="20%" data-field="name" style="text-align: left;"><a type="button" class="btn transparent black-text z-depth-0 " ng-click="orderBy('pubNombre')">Nombre<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                        <th width="30%" data-field="name" style="text-align: left;"><a type="button" class="btn transparent black-text z-depth-0 " ng-click="orderBy('pubDescripcion')">Descripci&oacute;n<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                        <th width="40" data-field="price" style="text-align: center;">Opciones</th>
                    </tr>
                </thead>

                <tbody > 
                    <tr ng-repeat="it in listaPublicidad | filter:searchString | searchFor:currentPage*numItems | limitTo:numItems|orderBy: order: reverse ">
                        <td style="text-align: center;">{{currentPage*numItems+$index + 1}}</td>
                        <td style="text-align: center;">{{it.pubNombre}}</td>
                        <td style="text-align: center;">{{it.pubDescripcion}}</td>
                        <td style="text-align: center;">
                            <a ng-if='it.pubEstado===false' type="button" class="waves-effect waves-light  btn #ffc107 amber lighten-2 white-text" ng-click="activarPublicidad(it.pubId)" ><i class="material-icons">arrow_upward</i></a>
                            <a materialize="tooltip" class="waves-effect waves-light btn #03a9f4 light-blue lighten-2 white-text tooltipped" href="#!/editPublicidad/{{it.pubId}}" ng-click="obtenerPublicidad(it.pubId)" data-position="right"  data-delay="90" data-tooltip="Editar"><i class="material-icons ">mode_edit</i> <!--Editar--></a>
                            <button ng-if="it.pubEstado===false" type="button" class="waves-effect waves-light btn #ff5252 red accent-2 white-text" ng-click="eliminarPublicidad(it.pubId)"><i class="material-icons">delete</i></button>
                            <button ng-if="it.pubEstado===true"   type="button" class="waves-effect waves-light btn #ff5252 red accent-2 white-text" ng-click="darBajaPublicidad(it.pubId)"> <i class="material-icons">delete</i> <!--Eliminar--></button>
                        </td>
                    </tr>
                </tbody>
         
                <br>
                <div class="row right" ng-include="'partials/componentes/paginacion/paginacion.html'"></div>
     </table>
    <br>
        <br>
        <div class="row center" >
    <div ng-if='loaderVar != false'  ng-include="'partials/componentes/loader2.html'"></div>
    <h3 class="header" ng-if='loaderVar != false' >Verificando Publicidad</h3>
    <h3 class="header" ng-if='vacio==true'>No hay Publicidad activa.</h3>  
     
  </div>
</div>

<script>
    
  $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 2000});
  });
</script>