<div class="container">
            <div class="row">
                <div class="col m4 s12">
                    <a class="waves-effect waves-light btn #2979ff blue accent-3" id="addbuton"  href="#!/addEstado"><i class="material-icons left">add</i>Agregar</a>
                </div>
            </div>
        </div>
<div class="container" ng-controller="paginacionController">
        <nav>
            <div class="nav-wrapper white black-text">
              <form>
                <div class="input-field">
                 <input id="search" ng-model="searchString" type="search" required placeholder="Buscar Estado">
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
                </div>
              </form>
            </div>
        </nav>  
        <br>
            <table class="highlight centered bordered ">
                <thead>
                    <tr class="blue-grey lighten-5">
                        <th><a type="button" class="z-depth-0 btn transparent black-text" ng-click="orderBy('estId')">Indice<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                        <th><a type="button" class="z-depth-0  btn transparent black-text" ng-click="orderBy('estNombre')">Nombre<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                        <th><a type="button" class="z-depth-0  btn transparent black-text" ng-click="orderBy('estColor')">Color<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="it in listaEstado | filter:searchString | searchFor:currentPage*numItems | limitTo:numItems|orderBy: order: reverse">
                        <td style="text-align: center;">{{it.estId}}</td>
                        <td style="text-align: center;">{{it.estNombre}}</td>
                        <td style="text-align: center;"><span class="{{it.estColor}} center white-text" >&nbsp&nbsp{{it.estColor}}&nbsp&nbsp</span></td>
                        <td style="text-align: center;">
                            <a type="button" class="waves-effect waves-light btn #03a9f4 light-blue lighten-2 white-text" href="#!/editEstado/{{it.estId}}" ng-click="obtenerEstado(it.estId)"><i class="material-icons ">mode_edit</i></a>
                        </td>
                    </tr>
                </tbody>
                 <!--   Paginacion  -->
            <div class="row right" ng-include="'partials/componentes/paginacion/paginacion.html'"></div>
                <!-- --------------- -->
            </table>
            
        </div>