
<div class="container" ng-controller="paginacionController">
   
        <nav>
            
            <div class="row">
                
            <div class="nav-wrapper white black-text">
              <form>
                <div class="input-field">
                  <input id="search" ng-model="searchString" type="search" required placeholder="Buscar Paciente">
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
                </div>
              </form>
                
                    
                </div>
            </div>
        </nav> 
        <br>           
            <table class= "highlight centered bordered ">
                <thead>
                    <!--  <div class="nav-wrapper">
                        <div class="input-field">
                            <input id="search"  ng-model="searchString" class="search"  type="search" required>
                          
                             <label class="label-icon" for="search">Buscar paciente<i class="material-icons left">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                </div> -->
                    <tr class="blue-grey lighten-5">
                        <th width="10%"  data-field="id" style="text-align: center;"><a type="button" class=" btn transparent black-text z-depth-0" ng-click="orderBy('persona.perId')">N°<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                        <th width="13%" data-field="name" style="text-align: center;"><a type="button" class="btn transparent black-text z-depth-0" ng-click="orderBy('persona.perPrimerNombre')">Nombre<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                        <th width="16%" data-field="apellido" style="text-align: center;"><a type="button" class="btn transparent black-text z-depth-0" ng-click="orderBy('persona.perPrimerApellido')">Apellido<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                        <th width="5%" data-field="expediente" style="text-align: center;"><a type="button" class="btn transparent black-text z-depth-0" ng-click="orderBy('expediente.expCodigo')">Expediente<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                        <th width="25%" data-field="price" style="text-align: center;">Opciones</th>
                    </tr>
                </thead>
                <!-- Tabla para iterar la los pacientes   -->
                <tbody> 
                    <tr ng-repeat="it in listaPacientes |busqueda:searchString |searchFor:currentPage*numItems | limitTo:numItems |orderBy: order: reverse">
                        <td style="text-align: center;"> {{it.pacId}}</td>
                        <td style="text-align: left;">{{it.persona.perPrimerNombre}} {{it.persona.perSegundoNombre}} </td>
                        <td style="text-align: left;">{{it.persona.perPrimerApellido}} {{it.persona.perSegundoApellido}}</td>
                        <td style="text-align: center;">{{it.expediente.expCodigo}}</td>
                        <td style="text-align: center;">
                             <a ng-if='it.pacEstado===false' type="button" class="waves-effect waves-light  btn #ffc107 amber lighten-2 white-text" ng-click="activarPaciente(it.pacId)"><i class="material-icons">arrow_upward</i></a>
                             <a type="button" class="waves-effect btn #03a9f4 light-blue lighten-2 white-text" href="#!/editPaciente/{{it.pacId}}"><i class="material-icons center">mode_edit</i></a>
                            <a ng-if='it.pacEstado===false' type="button" class="waves-effect waves-light btn #ff5252 red accent-2 white-text" ng-click="eliminarPaciente(it.pacId)"><i class="material-icons center">delete</i></a>
                            <a ng-if='it.pacEstado===true' type="button" class="waves-effect waves-light btn #ff5252 red accent-2 white-text" ng-click="deshabilitarPaciente(it.pacId)"><i class="material-icons center">delete</i></a>
                        </td>
                    </tr>
                </tbody>
                <!--   Paginacion  -->
    <div class="row right" ng-include="'partials/componentes/paginacion/paginacion.html'"></div>
    <a class="waves-effect waves-light btn #9e9e9e grey tooltipped" data-position="right"  data-delay="50" data-tooltip="Imprimir pacientes"  id="printbuton" ng-click="generarReportePacientes()"><i class="material-icons">local_printshop</i></a>

                <!-- --------------- -->
            </table>
        <br>
        <br>
        <div class="row center" >
    <div ng-if='loaderVar != false'  ng-include="'partials/componentes/loader2.html'"></div>
    <h3 class="header" ng-if='loaderVar != false' >Verificando Pacientes</h3>
    <h3 class="header" ng-if='vacio==true'>No hay pacientes activos.</h3>  
     
  </div>
      
        </div>
<script>
    $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });
</script>