        <div class="container">
            <div class="row">
                <div class="col m4 s12">
                    <a class="waves-effect waves-light btn #2979ff blue accent-3" id="addbuton"  href="#!/addRol"><i class="material-icons left">add</i>Agregar</a>
                </div>
            </div>
        </div>
<div class="container" ng-controller="paginacionController">
            <br>
        <nav>
            <div class="nav-wrapper white black-text">
              <form>
                <div class="input-field">
                  <input id="search" ng-model="searchString" type="search" required placeholder="Buscar Rol">
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
                </div>
              </form>
            </div>
        </nav>  
        <br>
            <table class="highlight centered bordered ">
                <thead>
                    <tr>
                        <th><a type="button" class="waves-effect waves-light btn #0288d1 light-blue darken-2" ng-click="orderBy('rolId')">Indice<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                        <th><a type="button" class="waves-effect waves-light btn #0288d1 light-blue darken-2" ng-click="orderBy('rolNombre')">Nombre<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="it in listaRol | filter:searchString | searchFor:currentPage*numItems | limitTo:numItems|orderBy: order: reverse">
                        <td style="text-align: center;">{{it.rolId}}</td>
                        <td style="text-align: justify;">{{it.rolNombre}}</td>
                        <td style="text-align: center;">
                            <a type="button" class="waves-effect waves-light btn #03a9f4 light-blue lighten-2 white-text" href="#!/editRol/{{it.rolId}}" ng-click="obtenerRol(it.rolId)"><i class="material-icons ">mode_edit</i></a>
                            <button type="button" class="waves-effect waves-light btn #ff5252 red accent-2 white-text" ng-click="eliminarRol(it.rolId)"><i class="material-icons">delete</i></button>
                        </td>
                    </tr>
                </tbody>
                 <!--   Paginacion  -->
            <div class="row right" ng-include="'partials/componentes/paginacion/paginacion.html'"></div>
                <!-- --------------- -->
            </table>
        <br>
        <br>
        <div class="row center" >
    <div ng-if='loaderVar != false'  ng-include="'partials/componentes/loader2.html'"></div>
    <h3 class="header" ng-if='loaderVar != false' >Verificando Roles</h3>
    <h3 class="header" ng-if='vacio==true'>No hay roles activos.</h3>  
     
  </div>
            
        </div>