<div class="container" ng-controller="paginacionController" ng-init="listarTratamiento()">
        <nav>
            <div class="nav-wrapper white black-text">
              <form>
                <div class="input-field">
                  <input id="search" ng-model="searchString" type="search" required placeholder="Buscar Tratamiento">
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
                </div>
              </form>
            </div>
        </nav> 
        <br>
            <table class="highlight centered" >
                 <!-- <div class="nav-wrapper">
      
                        <div class="input-field">
                            <input id="search" ng-model="searchString" class="search"  type="search" required>
                            <label class="label-icon" for="search">Buscar Tratamiento<i class="material-icons left">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                 </div> -->
                <thead>
                    <tr class ="blue-gray lighten-5">
                        <th width="10%" data-field="id" style="text-align: center;">ID</th>
                        <th width="20%" data-field="name" style="text-align: left;"><a type="button" class="btn transparent black-text z-depth-0" ng-click="orderBy('tratNombre')">Nombre<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                        <th width="30%" data-field="name" style="text-align: left;"><a type="button" class="btn transparent black-text z-depth-0" ng-click="orderBy('tratDescripcion')">Descripci&oacute;n<li class="material-icons">arrow_drop_{{iconReverse}}</li></a></th>
                        
                        <th width="40%" data-field="price" style="text-align: center;">Opciones</th>
                    </tr>
                </thead>
                
                <!-- Tabla para mostrar tratamientos -->
                <tbody> 
                    <tr ng-repeat="it in listaTratamiento | filter:searchString | searchFor:currentPage*numItems | limitTo:numItems|orderBy: order: reverse ">
                        <td style="text-align: center;">{{currentPage*numItems+$index+1}}</td>
                        <td style="text-align: justify;">{{it.tratNombre}}</td>
                        <td style="text-align: justify;">{{it.tratDescripcion}}</td>
                        <td style="text-align: center;">
                            <a ng-if='it.tratEstado===false' type="button" class="waves-effect waves-light  btn #ffc107 amber lighten-2 white-text" ng-click="activarTratamiento(it.tratId)"><i class="material-icons">arrow_upward</i></a>
                            <a type="button" class="waves-effect waves-light btn light-blue lighten-2 white-text"  href="#!/editTratamiento/{{it.tratId}}"><i class="material-icons center">mode_edit</i></a>
                            <button ng-if='it.tratEstado===false' type="button" class="waves-effect waves-light btn #ff5252 red accent-2 white-text" ng-click="eliminarTratamiento(it.tratId)"><i class="material-icons center">delete</i></button>
                            <button ng-if='it.tratEstado===true' type="button" class="waves-effect waves-light btn #ff5252 red accent-2 white-text" ng-click="darBajaTratamiento(it.tratId)"><i class="material-icons center">delete</i></button>
                            

                        </td>
                    </tr>
                </tbody>
                <!--   Paginacion  -->
    <div class="row right" ng-include="'partials/componentes/paginacion/paginacion.html'"></div>
                <!-- --------------- -->
            </table>
        <br>
        <br>
        <div class="row center" >
    <div ng-if='loaderVar != false'  ng-include="'partials/componentes/loader2.html'"></div>
    <h3 class="header" ng-if='loaderVar != false' >Verificando Tratamientos</h3>
    <h3 class="header" ng-if='vacio==true'>No hay tratamientos activos.</h3>  
     
  </div>
        </div>