<!-- <div class="container">
    <div class="row" ng-repeat="it in listaEmpleados">
        <div class="col m3 s12">
            <img class="circle responsive-img materialboxed" width='80%' src="{{'imagenes/perfiles' + it.imagen.imgId.imgNombre + ''}}">
        </div>
        <div class="col m8 s12"><br>
            <h4>{{it.persona.perPrimerNombre + ' ' + it.persona.perPrimerApellido}}</h4>
            <h5>ADMINISTRADOR</h5>
            <div class="row">
                <div class="col s3">
                    <a href="#!/expedienteEmpleado/{{it.empId}}"><h6>Ver Expediente</h6></a>
                </div>
                <div class="col s2">
                    <a href="#!/editEmpleado/{{it.empId}}" ><h6>Editar</h6></a>
                </div>
                <div class="col s4">
                    <a href="" ng-click="darBajaEmpleado(it.empId)"><h6>Dar de baja</h6></a>
                </div>
            </div>
</div> -->

<div class="container">
    <table class="highlight centered bordered">
       <thead>
            <tr class="blue-grey lighten-5">
                <td style="text-align:center">Foto</td>
                <td style="text-align:center">Nombre</td>
                <td style="text-align:center">Apellido</td>
                <td style="text-align:center">Opciones</td>
            </tr>
       </thead>

       <tbody>
        <tr ng-repeat="it in listaEmpleados">
            <td width="100px" class="center"><img class="circle responsive-img materialboxed" width='70%' src="{{'imagenes/perfiles'+it.imagen.imgId.imgNombre}}">
            </td>
            <td style="text-align: center">{{it.persona.perPrimerNombre}} {{it.persona.perSeguNombre}}</td>
            <td style="text-align: center">{{it.persona.perPrimerApellido}} {{it.persona.perSegundoApellido}}</td>
            <td> 
                <a class="waves-effect waves-light btn a5d6a7 green lighten-3 white-text" href="#!/expedienteEmpleado/{{it.empId}}"><i class="material-icons">assignment</i></a>
                <a class="waves-effect waves-light btn #03a9f4 light-blue lighten-2 white-text" href="#!/editEmpleado/{{it.empId}}"><i class="material-icons center">mode_edit</i></a>
                <a ng-click="darBajaEmpleado(it.empId)" class="waves-effect waves-light btn #ff5252 red accent-2 white-text"><i class="material-icons center">delete</i></a>
            </td>
        </tr>
       </tbody>
    </table>
    <br>
        <br>
        <div class="row center" >
    <div ng-if='loaderVar != false'  ng-include="'partials/componentes/loader2.html'"></div>
    <h3 class="header" ng-if='loaderVar != false' >Verificando Empleados</h3>
    <h3 class="header" ng-if='vacio==true'>No hay Empleados activos.</h3>  
     
  </div>
</div>