<div class="container" >
 
        <br>           
           
        
        <table id="example" width="100%" cellspacing="0"  class="users list dtable display" border="1"> 
    <thead>
        <tr>
            <th width="10%"  data-field="id" style="text-align: center;">N°</th>
            <th width="13%" data-field="name" style="text-align: center;">Nombre</th>
            <th width="16%" data-field="apellido" style="text-align: center;">Apellido</th>
            <th width="5%" data-field="expediente" style="text-align: center;">Expediente</th>
            <th width="25%" data-field="price" style="text-align: center;">Opciones</th>
        </tr>
    </thead>
     <tbody> 
                    <tr ng-repeat="it in listaPacientes ">
                        <td >{{it.pacId}}</td>
                        <td >{{it.persona.perPrimerNombre}} {{it.persona.perSegundoNombre}} </td>
                        <td >{{it.persona.perPrimerApellido}} {{it.persona.perSegundoApellido}}</td>
                        <td >{{it.expediente.expCodigo}}</td>
                        <td >
                             <a href="#!/expediente/{{it.pacId}}" type="button" class="waves-effect waves-light btn #a5d6a7 green lighten-3 white-text"><i class="material-icons">assignment</i></a>
                        </td>
                    </tr>
                </tbody>
</table>
      
        </div>
<script>
    
</script>