<style> 
.collection-header {
    background-color: red;
}
</style>
<div ng-show="initialized">
    <div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
        <div class="container ">
            <h2 class="center-align white-text bold">¡Bienvenido! {{user.name}}</h2>
            <br>
            <div class='row center'> </div>
        </div>
    </div>
    <div class="container" >

    <ul class="collection with-header" ng-repeat ="n in days">
        <li ng-if="$index===0" class="collection-header #455a64 blue-grey white-text">
            <h4>{{days[addDate($index).getDay()]}} {{addDate($index).getDate()}} {{month[addDate($index).getMonth()]}} {{addDate($index).getFullYear()}}</h4><span class="new badge">HOY</span></li>
        <li ng-if="$index!=0" class="collection-header"><h4 ng-if="$index!==0">{{days[addDate($index).getDay()]}} {{addDate($index).getDate()}} {{month[addDate($index).getMonth()]}} {{addDate($index).getFullYear()}} </h4></li>
        <li class="collection-item">Cita con Daniel<a class="center">--------Hora: 12:30pm</a></li>
        <li class="collection-item">Cita con Carlos<a class="center">--------Hora: 1:00pm</a></li>
        <li class="collection-item">Cita con Marlon<a class="center">--------Hora: 1:30pm</a></li>
        <li class="collection-item">Cita con Luis<a class="center">--------Hora: 2:00pm</a></li>
        <li class="collection-item">Cita con Oto<a class="center">--------Hora: 2:30pm</a></li>
    </ul>
        <!-- <div class="row" ng-repeat="n in days">
            
            <h3 ng-if="$index===0" class="#d4e157 lime lighten-1">{{days[addDate($index).getDay()]}} {{addDate($index).getDate()}} {{month[addDate($index).getMonth()]}} {{addDate($index).getFullYear()}}</h3>
            <h3 ng-if="$index!==0">{{days[addDate($index).getDay()]}} {{addDate($index).getDate()}} {{month[addDate($index).getMonth()]}} {{addDate($index).getFullYear()}} </h3>
            <div class="divider"></div>        
            <h5>Jorge Otoniel</h5>
            <h5>Daniel Díaz</h5>
            <h5>Carlos Mata</h5>
            <h5>Marlon Figueroa</h5>
            <h5>Luis Alejandro</h5></div>
    </div> -->
</div>
    