<!--Formularion de inicio  de sesion-->
<div class="container">
    

    <div class="row center">
        <div class="col s12 m4 offset-m4">
          <div class="card blue-grey darken-4">
            <div class="card-content white-text">
              <!--<span class="card-title">Inicio de Sesión</span>-->
              
                    <form class="login-form" role="form" ng-submit="login()" >
                        <div class="row">
                            <div class="input-field col s12 m12 center">
                                <img src="images/logo1.png">

                            </div>
                        </div>
                        <div ng-show="LoginError" class="LoginErrorMsg">
                            Credenciales inválidas
                        </div>
                        <div class="row margin">
                            <div class="input-field col s12">
                                <input id="username" type="text" ng-model="username" style="text-align: center;">
                                <label for="username" class="center-align">Usuario</label>
                            </div>
                        </div>
                        <div class="row margin">
                            <div class="input-field col s12">
                                <input id="password" type="password" ng-model="password" style="text-align: center;">
                                <label for="password">Contraseña</label>
                            </div>
                        </div>
                        <div class="row center">
                            <div class="input-field col s12 m12">
                                <input type="submit" class="btn lime darken-3 waves-effect waves-light col s12" value="Iniciar Sesión"/>
                            </div>
                        </div>          
                    </form>
            </div>
          </div>
        </div>
      </div>

</div>

