<ul class="pagination" >
    <li id="chevron_left" class="disabled" ><a ng-click="reset()"><i class="material-icons">chevron_left</i></a></li>
    <li id="pag1" class="active"  ><a ng-click="saltarPagina(1)">1</a></li>
    <li id="pag{{$index+2}}" class="waves-effect"  ng-repeat="i in getNumber(paginas-1) track by $index"><a ng-click="saltarPagina($index+2)">{{$index + 2}}</a></li>
    <li id="chevron_ringht" class="waves-effect"><a  ng-click="add()"><i class="material-icons">chevron_right</i></a></li> 
</ul>  